---
title: The ideal development workflow (wip)
listed: true
position: 6

editable_elements:
  main/page_head_title: "The ideal development workflow"
  main/page_head_content: ""
---
{% extends 'guides/get-started' %}

{% block 'main/left/content' %}
{% include 'wip' %}
{% endblock %}