{% extends 'guides/overview' %}

{% block 'content' %}

:markdown
  # Key features

  You have out of the box :

  - Multi sites : manage multiple websites with one application instance
  - Flexible content types
  - Front-end inline editing (Aloha editor)
  - Content localization
  - Restful API
  - Haml / Sass support
  - Liquid templating langage
  - A very nice User Interface


{% endblock %}
