+font-face("FuturaLT", font-files("/fonts/FuturaLT.ttf"))
+font-face("Bebas", font-files("/fonts/Bebas.ttf", "/fonts/Bebas.eot"))
+font-face("Fontello", font-files("/fonts/fontello.ttf", "/fonts/fontello.eot", "/fonts/fontello.svg", "/fonts/fontello.woff"))

=futura-lt
  font-family: 'FuturaLT', 'Trebuchet MS', Tahoma, sans-serif
=open-sans
  font-family: 'Open Sans', sans-serif
=bebas
  font-family: Bebas, 'Helvetica'



