@import "compass/reset"
@import "fonts"

//img
//  vertical-align: bottom
//  max-width: 100%

$base-font-size       : 12px
$base-line-height     : 15px
$relative-font-sizing : true

@import "typography"


