@import "compass/typography/lists/bullets"

body
  +open-sans
  color: $dark-black
  font-size: 13px

h1, h2, h3, h4, h5, h6
  margin-bottom: 20px
  margin-top: 10px
  +open-sans

h1
  font-size: 48px
  font-weight: bold
  color: white

h2
  font-size: 36px
  color: $third-black

h3
  font-size: 24px
  color: $third-black

h4
  font-size: 20px
  font-weight: 700
  color: $dark-blue

h5
  font-size: 14px

h6
  font-size: 12px
  color: $main-blue

a
  color: inherit
  text-decoration: none
  &:hover
    color: $main-blue
    text-decoration: underline

p
  color: $light-black
  font-size: 15px
  line-height: 24px
  font-weight: 300
  margin-bottom: 10px
  text-align: justify

em
  color: $light-black
  font-style: italic
  +open-sans

span
  font-size: 12px
  +open-sans

strong
  +open-sans

ol
  counter-reset: li
  +open-sans
  color: $light-black
  li
    list-style: none
    position: relative
    &:before
      content: counter(li)"."
      counter-increment: li
      width: 20px
      margin-right: 4px
      margin-left: 2px
      +open-sans

code
  +global-reset
  //font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace
  // background-color: ghostWhite
  // border: 1px solid #DDD
  // padding: 1px 4px
  // display: block
  // margin-bottom: 10px

.gist
  margin-top: 10px
  margin-bottom: 10px

// .alert
//   margin-bottom: 10px
//   background-color: $orange-white
//   padding: 5px
//   +open-sans
