---
title: How to create a content type?
listed: true
position: 1

editable_elements:
  main/page_head_title: "How to create a content type?"
  main/page_head_content: ""

---
{% extends 'guides/getting-started' %}

{% block 'main/left/content' %}
:markdown
  Content types are like models. Let's say you want to display and manage events on your site, each event having a title, a description and a date.
  
  #1 declare the "events" content type

  The builder provides you the **generate** command:

      cd ~/Documents/LocomotiveCMS/sites/my_first_site
      bundle exec builder generate content_type events title:string description:text event_date:date

  It will generate 2 files:

      app/content_types/events.yml
      data/events.yml

  The first one contains the content_type declaration, the second contains sample data so that you can test your site with fake data.

{% endblock %}