---
title: Customize the backoffice User Interface
listed: true
position: 5

editable_elements:
  main/page_head_title: "Customize the backoffice User Interface"
  main/page_head_content: ""

---
{% extends 'guides/content-types' %}

{% block 'main/left/content' %}
:markdown
  {% include 'wip' %}
{% endblock %}