---
title: Paginate, scope content entries
listed: true
position: 2

editable_elements:
  main/page_head_title: "Paginate, scope content entries"
  main/page_head_content: ""

---
{% extends 'guides/content-types' %}

{% block 'main/left/content' %}
:markdown
  {% include 'wip' %}
{% endblock %}