---
title: Create relationships
listed: true
position: 3

editable_elements:
  main/page_head_title: "Create relationships"
  main/page_head_content: ""

---
{% extends 'guides/content-types' %}

{% block 'main/left/content' %}
:markdown
  TODO write-it
{% endblock %}