---
title: Setup multiple sites
seo_title: Setup multiple sites
listed: true
position: 1

editable_elements:
  main/page_head_title: "Setup multiple sites"
  main/page_head_content: ""

---
{% extends parent %}

{% block 'main/left/content' %}
:markdown
  {% include 'wip' %}
{% endblock %}