{% extends 'guides/foreword' %}

{% block 'content' %}

:markdown
  # Assumptions

  During this reading, it is assumed that:

  - You know what is Ruby and Rails and you've a good feeling with terms like Gem, Bundler, deployment
  - You know what is a data model, and ideally what is a document-oriented storage like Mongo
  - You have basic knowledge about shell and command-line interface

{% endblock %}
