{% extends 'guides/foreword' %}

{% block 'content' %}

:markdown
  # Philosophy

  Let's start first with a little bit of history.

  When I was a developer at a Chicago web agency, I built numerous custom and unique content management system applications for each of our clients. Even though I enjoyed crafting unique back-offices for our clients, it was clear to me that I should spend less time on those kinds of projects so that I may tackle larger ones. At this time, there were no open source Rails CMSes fitting both my needs and my vision of ideal CMS.

  Upon returning to France, I kept thinking about what the perfect CMS should be. My thoughts were also enhanced by my experiences as a Rails developer in other companies. I began coding a prototype which have constantly improved ever since. I also spent a lot of time experimenting with many concepts and through process learned a lot about what the perfect CMS should look like.

  However, I stayed true to what were the basic requirements of my dream CMS and never moved away from them. These requirements are:

  - A single instance of LocomotiveCMS should host many sites. Once LocomotiveCMS is installed, setting up a new site has to be quick and will not have to require the help of an admin system guy.
  - It should be effortless for the content editors to edit the site without ruining the layout or, worse, crashing the site.
  - Developing a LocomotiveCMS site should not require Ruby on Rails knowledge.
  - It should be possible and easy to extend and customize LocomotiveCMS in elegant ways.
  - The back-office should be sexy as hell.
  - The code of LocomotiveCMS should not "smell". Thus, refactoring the code is a continuous process during all the development. That also means using standard components like for instance "Devise" for the authentication part.  


{% endblock %}
