{% extends 'guides/foreword' %}

{% block 'content' %}

:markdown
  # Why should you use LocomotiveCMS ?

  LocomotiveCMS is a CMS that has been created with a main guideline: keep it simple !

  - Keep it simple, for the developer who shouldn't have to go deep in architecture, and should be able to edit a website quickly.
  - Keep it simple, for the author who needs to be focused on content, and shouldn't have to go through several pages to edit.

  If you recognize yourself in on of the case listed above, you should use LocomotiveCMS.

  ....

  From a "business" point of view, LocomotiveCMS have several benefits to sell :

  - Front-end editing of static texts, using Aloha editor
  - Hosting on Heroku / AWS very cheap, almost free
  - Finally, a great looking back-office !


{% endblock %}
