---
title: Image tag
published: true
listed: true
position: 2
---
{% extends 'apidoc/filters' %}

{% block 'main/left/content' %}

:markdown
  # flash_tag(input, options)

  Embed a flash movie into a page

      {% raw %}{{ 'http://youtube.com?...' | flash_tag: width: '100px', height: '50px' }}
  {% endraw %}

  ### Options

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>width</td>
        <td>String</td>
        <td>pixel or %</td>
      </tr>
      <tr>
        <td>height</td>
        <td>String</td>
        <td>pixel or %</td>
      </tr>
    </tbody>
  </table>

{% endblock %}