---
title: Flash tag
published: true
listed: true
position: 3
---
{% extends 'apidoc/filters' %}

{% block 'main/left/content' %}

:markdown
  # image_tag(input, options)

  Return the HTML img tag

      {% raw %}{{ 'http://placehold.it/350x150' | image_tag: 'alt:hello world' }}
  {% endraw %}

  **Example**: Returns
      <img src="http://placehold.it/350x150" alt="hello world" />

  ### Options

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>alt</td>
        <td>String</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>title</td>
        <td>String</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>

{% endblock %}