---
title: Fonts
listed: true
position: 7

editable_elements:
  main/page_head_title: "Fonts"
  main/page_head_content: ""

---
{% extends 'guides/templating' %}

{% block 'main/left/content' %}
:markdown

  If you have fonts in your assets and you host your website on Heroku / Amazon S3, you need to do the following steps to make it work.

  - Store all your fonts in the public/fonts folder
  - Create a `public/fonts/all.css` and declare your fonts in it
  - Load your fonts/all.css
    
  `{% raw %}{{ '/fonts/all' | stylesheet_tag }}{% endraw %}`

  <!-- TODO explain cross domain -->

{% endblock %}