---
title: Creating a page
published: false
listed: false
---
{% extends 'guides/templating' %}

{% block 'main/left/content' %}

:markdown
  # Creating a page

  You have several option when you create a page. Let's take a look.

  ## General information

  <img src="{{ '/samples/guides/templating/page_general_info.png' }}">

  Nothing complex, just specify the name of the page. The slug field will be updated automatically.

  Be aware the slug will reference the url linked with the page you are creating, if you change it later, it could break links in the website.

  Set the parent page, as explained in [Templating Logic](/guides/templating/templating_logic).

  ## SEO settings

  <img src="{{ '/samples/guides/templating/page_seo_settings.png' }}">

  Edit the meta ```title```, ```keyword```, ```description``` for the page, or leave it empty if you want use the global meta.

  These meta values will then be available for use in the template with Liquid tags, this way :

      {% raw %}<title>{{ page.seo_title }}</title>
      <meta name="keywords" content="{{ page.keywords }}"/>
      <meta name="description" content="{{ page.description }}"/>
  {% endraw %}

  ## Advanced options

  <img src="{{ '/samples/guides/templating/page_advanced_options.png' }}">

  - Handle :

    Used when you integrate LocomotiveCMS with a Rails app

  - Response type :

    You can choose between HTML, RSS, XML or JSON. You may this way generate a RSS feed or build an simple API from your LocomotiveCMS site.

  - Templatized :

    Defines wether this page should be a template for a model instance, see [this chapter](/guides/models/templatize_model).

  - Published :

    Since only authenticated accounts can view unpublished pages, this allows debugging a page on a deployed site.

  - Listed :

    The Liquid ```{% raw %} {% nav %} {% endraw %}``` generates a menu based on your page. Control here wether this page appears in the generated menu.

  - Redirect :

    If you check this, you can redirect the page to a url.

    It then will be a 301 redirection, which from a SEO point of view, is a permanent redirection. You should use it when you have changed your urls. The search engine will then forget the previous page and update the url in its database.

  - Cache strategy :

    Define here the cache strategy for this page.

{% endblock %}
