---
title: "Use Sass"
listed: true
position: 6

editable_elements:
  main/page_head_title: "Re-use a block of code in several templates: Snippets"
---
{% extends 'guides/templating' %}

{% block 'main/left/content' %}

:markdown

{% endblock %}
