:markdown
  # Tags

  Tags are used for the logic in the templates making them very dynamic. Thus, you can loop through a collection with the **for** tag, test a variable with the classical **if/else.** We also added, to the original Liquid tags, our own tags in order to build pages more elegantly and more efficiently.

  {% raw %}
      {% if content_types.projects.size == 0 %}
      <p>No projects</p>
      {% endif %}
  {% endraw %}

  **Example:** Check if our custom content type representing projects has entries or not.

  {% raw %}
      {% nav %}
  {% endraw %}
  
  **Example:** it displays the main menu of the current site with the UL/LI html tags.

  <div class="alert alert-info">
  **Note:** matched pairs of curly brackets and percent signs are used to call a tag.
  </div>