:markdown
  # Objects

  When writing a liquid template, you will access to a couple of objects representing for instance the current site, page, logged in account as well as collections such as your custom content types. We also call them **drops** in case you meet this word further in the documentation.

  {% raw %}
      {{ page.title }}
  {% endraw %}
  
  **Example:** it displays the title of the current page.

  <div class="alert alert-info">
  **Note:** matched pairs of curly brackets are used to output the value of an object
  </div>