:markdown
  # Filters

  You can modify the output by using filters that you can chain. Filters are simple methods. The first parameter is always the output of the left side of the filter. The return value of the filter will be the new left value when the next filter is run. When there are no more filters, the template will receive the resulting string.

  {% raw %}
      {{ page.title | upcase | pluralize }}
  {% endraw %}
  
  **Example:** it displays the title of the current page and applies 2 transformations: upcase + pluralization