:markdown
  # localized_date(input, format, locale)

  Pretty print a date.

  {% raw %}
      {{ today | localized_date: '%d %B' }}
  {% endraw %}
  
  **Example**: Returns 21 december

  {% raw %}
      {{ today | localized_date: '%d %B', 'fr' }}
  {% endraw %}
  
  **Example**: Returns 29 juin

  ### Options

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>format</td>
        <td>String</td>
        <td>It depends on the current locale. For the 'en' locale, it is "%m/%d/%Y".</td>
      </tr>
      <tr>
        <td>locale</td>
        <td>String</td>
        <td><i>Optional</i>. By default, it is the current locale.</td>
      </tr>
    </tbody>
  </table>