:markdown
  # stylesheet_url(input)

  Return the url of a theme asset stylesheet

  {% raw %}
      {{ 'application.css' | stylesheet_url }}
  {% endraw %}
  
  **Example**: Returns "/sites/<site_id>/theme/stylesheets/application.css"