:markdown
  # stylesheet_tag(input, media)

  Return the link tag of a theme stylesheet

  {% raw %}
      {{ 'application.css' | stylesheet_tag }}
  {% endraw %}
  
  **Example**: Returns 
      <link href="/sites/<site_id>/theme/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

  ### Options

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>media</td>
        <td>String</td>
        <td>By default, its value is 'screen'</td>
      </tr>
    </tbody>
  </table>