---
title: Content Types
published: true
listed: true
position: 4
redirect_url: /guides/content-types/create
redirect_type: 302
---
{% extends 'guides' %}

{% block 'main/left' %}
%section#container-sidebar
 
  {% block 'content' %}{% endblock %}

{% block 'sidebar' %}
{% include 'sidebar_depth' with depth: 2 %}
{% endblock %}

{% endblock %}