---
title: Getting started
published: true
listed: true
position: 1
redirect_url: /guides/getting-started/requirements
redirect_type: 302
---
{% extends 'guides' %}
{% block 'main/left' %}
%section#container-sidebar
 
  {% block 'content' %}{% endblock %}

{% block 'sidebar' %}
{% include 'sidebar_depth' with depth: 2 %}
{% endblock %}

{% endblock %}