{% extends 'guides' %}
{% block main/catch %}{% endblock %}
{% block 'left' %}
%section#container-sidebar

  {% block 'main/content' %}{% endblock %}

{% block 'sidebar' %}
{% include 'sidebar_depth_2' %}
{% endblock %}

{% endblock %}