{% extends 'index' %}

{% block 'main' %}

.hero-unit

  %h1 Enable the multi-sites functionality

  %br

  %p
    With a single instance of LocomotiveCMS, you can manage as many websites as your server can physically handle.

.alert
  %b Important:
  It is better to apply the following procedure without any installed sites in your engine. If it is not possible, you will have to modify manually your site(s) from the Ruby on Rails console or directly in the MongoDB database.

/ === 1 ===

%h3 1. Make sure you have a wildcard domain.

%br

%p
  In LocomotiveCMS, each website has at least one and unique "entry" which is the subdomain name. That explains why you need to own a domain name with wildcards (wilcard -> subdomain).
  %br
  Obviously, you can also map any domains and as many as you want (see the last chapter).

%br

%p
  If you host your sites on
  %b Heroku,
  you will have to subscribe to their
  %a{ :href => 'https://devcenter.heroku.com/articles/custom-domains#wildcard_domains' } wildcard domain
  addon which is
  %b NOW free.

%p
  If you run it on your
  %b development machine under Mac OS X,
  we recommend you to install
  %a{ :href => 'http://pow.cx' } Pow.
  Once it is installed, just link your LocomotiveCMS folder as explained in the Pow installation guide. Nothing more to set up.
  %br
  %br
  If you do not work on Mac OS X or if you do not have Pow, all you need to do is to modify as root your
  %b /etc/hosts
  file and add manually the domain names.
  %br
  For instance, let's say your main domain is
  %b lvh.me.
  Open your
  %b /etc/hosts
  file and update it like this:

%pre
  127.0.0.1  lvh.me
  127.0.0.1  test.lvh.me
  127.0.0.1  anothertest.lvh.me

%p
  %b test.lvh.me
  and
  %b anothertest.lvh.me
  could be used now for your local tests.

%hr

/ === 2 ===

%h3 2. Modify your engine configuration

%br

%p
  Open the
  %b config/initializers/locomotive.rb file
  and modify the
  %multi_sites
  property.

%pre
  :plain
    config.multi_sites do |multi_sites|
      multi_sites.domain = 'engine.dev' #'mydomainname.com'
    end

%br

.alert.alert-info
  %strong the domain property should contain a domain name without the subdomain part (ex: without www).

.alert.info-alert
  %strong Important: restart your application after each modification of the configuration file.

%hr

/ === 3 ===

%h3 3. Verify it works

%br

%p
  If you have not installed a site yet, when you visit your LocomotiveCMS back-office, you should be asked for a subdomain for your very first site.

%br

.screenshot.centered
  {% capture image_1_url %}{% editable_file "installation screenshot" %}/samples/pages/multisites_1.png{% endeditable_file %}{% endcapture %}
  %a{ :href => '{{ image_1_url }}' }
    %img{ :src => '{{ image_1_url | resize: "350x" }}' }

%hr

/ === 4 ===

%h3 4. Add aliases to your site

%br

%p
  Once you created your site, as an administrator, you can add aliases or symbolic links to your site.
  %br
  Go to the
  %b Settings
  section from the top nav and add your aliases in the
  %b access points
  block.

%br

.screenshot.centered
  {% capture image_2_url %}{% editable_file "access points" %}/samples/pages/multisites_2.png{% endeditable_file %}{% endcapture %}
  %a{ :href => '{{ image_2_url }}' }
    %img{ :src => '{{ image_2_url | resize: "350x" }}' }

{% endblock %}