---
title: Filters
published: true
listed: true
position: 2
redirect_url: /reference/filters/html/auto-discovery-link-tag
---
{% extends 'reference' %}

{% block 'main/left' %}
%section#container-sidebar
  {% block 'content' %}
  {% endblock %}
{% include 'sidebar_depth_2' %}
{% endblock %}