---
title: Objects
published: true
listed: true
position: 1
redirect_url: /apidoc/objects/global-variables
---
{% extends 'apidoc' %}

{% block 'main/left' %}
%section#container-sidebar
  {% block 'content' %}
  {% endblock %}
{% include 'sidebar_depth_1' %}
{% endblock %}