// Home
#home-tagline
  background: url(/images/home_halo_mob.png) no-repeat bottom center
  background-color: $banner-bg
  color: white
  .inner-container
    +four-cols-grid
  img
    margin-top: 60px
  header
    +span-columns($total-columns omega, $total-columns)
    background: url(/images/home-arrow.png) no-repeat
    background-position: 100% 31px
    h1
      +proximanova-regular
      font-size: 29px
      line-height: 30px
      color: white
    blockquote
      +proximanova-light
      font-size:  20px
      line-height: 27px
      margin-top: 25px
      .quote-author
        +span-columns($total-columns omega, $total-columns)
        margin-bottom: 20px
        margin-top: 10px
        color: $home-quote-author
        font-size: 14px
        +proximanova-light
  .button
    +big-button
    +span-columns($total-columns omega, $total-columns)
  #try-out
    +span-columns($total-columns omega, $total-columns)
    margin: 25px 0 25px 0
    +proximanova-light
    font-size: 14px
    text-align: center
  
#home-image
  display: none
  
#home-strip
  margin-top: 0px
  border-top: 1px solid white
  border-bottom: 1px solid $blue-border
  background: url(/images/home-strip-bg.png) repeat
  .inner-container
    +four-cols-grid
    border-bottom: 1px solid white
    padding-top: 20px
    padding-bottom: 30px
  #home-strip-content
    +span-columns($total-columns omega, $total-columns)
    h1
      padding-top: 10px
      padding-bottom: 10px
      font-size: 18px
      +proximanova-light
      color: $menu-background
      margin: 0
      em
        +creampuff
        display: block
        font-size: 30px
        line-height: 28px
        color: $home-strip-text
    span
      font-size: 19px
      color: $home-strip-text
      +proximanova-light
      line-height: 23px
    span.first-line
      display: block
      margin-top: 10px
      +proximanova-semi-bold
      color: $menu-background
  .button
    +big-button
    +span-columns($total-columns omega, $total-columns)
    margin-top: 10px

#home-columns
  +four-cols-grid

.home-column
  +span-columns($total-columns omega, $total-columns)
  +nth-omega(4)
  margin-top: $section-padding
  text-align: center
  p
    text-align: left
  header
    text-align: left
    font-size: 17px
    line-height: 22px
    +proximanova-semi-bold
    margin-bottom: 20px
    margin-top: 20px

#home-bottom-title
  +four-cols-grid
  margin-top: $section-padding
  padding-top: 20px
  border-top: 1px solid $blue-border
  font-size: 17px
  line-height: 22px
  
#home-bottom-container
  +four-cols-grid
  margin-top: 20px
  margin-bottom: 20px
  #home-bottom-left
    +span-columns(4 omega,4)
    #home-bottom-testimonial
      em 
        color: $em-blue
      .rounded-picture
        +rounded-picture(125px)
        margin: 0 0 20px 0
  #home-bottom-right
    +span-columns(4 omega,4)
    img
      float: left
      max-width: 40%
      margin-bottom: 26px
      margin-right: 7%


@media #{$desktop}
  #home-tagline
    padding-top: 80px
    padding-bottom: 320px
    background: url(/images/home_halo.png) bottom center no-repeat
    background-color: $banner-bg
    header
      +span-columns(3, $total-columns)
      h1
        font-size: 43px
      blockquote
        padding-right: 52px
    .button,
    #try-out
      +span-columns(1 omega, $total-columns)

  #home-image
    display: block
    background-color: $home-before-strip
    position: relative
    #shadow
      width: 100%
      position: absolute
      z-index: 9999
      bottom: -6px
      left: 0
      height: 6px
      background: transparent
      +box-shadow( 0px -4px 6px $input-shadow)
    .inner-container
      +four-cols-grid
      position: relative
      height: 150px
    img
      position: absolute
      bottom: 0
      left: 0  

  #home-strip
    .inner-container
      padding-bottom: 20px
    #home-strip-content
      +span-columns(3, $total-columns)
      header
        float: left
        width: 27%
        background: url(/images/home_accolade.png) no-repeat
        background-position: 90% center 

      p
        float: left
        width: 73%
    .button
      +span-columns(1 omega, $total-columns)

  .home-column
    +span-columns(1, $total-columns)
    p
      text-align: center
    header
      text-align: center

  #home-bottom-title
    margin-top: 50px
    padding-top: 0
    text-align: center
    border-top: none
    border-bottom: 1px solid $blue-border
    height: 20px
    h1
      display: inline-block
      background-color: white
      padding: 0 20px
      +proximanova-light

  #home-bottom-container
    margin-top: 70px
    #home-bottom-left
      +span-columns(2,4)
      #home-bottom-testimonial
        .rounded-picture
          float: left
          margin-right: 20px
    #home-bottom-right
      +span-columns(2 omega,4)
      img
        max-width: 25%
        margin-right: 7%


