.project-item
  +three-cols-grid
  border-bottom: 1px solid $blue-border
  padding-top: $section-padding
  padding-bottom: $section-padding
  &:last-child
    border-bottom: none
  aside
    +span-columns(3 omega, 3)
  section
    +span-columns(3 omega, 3)
  header
    +span-columns(3 omega, 3)
    margin-bottom: 20px
  b
    color: $light-blue
.project-item.last
  border-bottom: none

@media #{$desktop}
  .project-item
    section
      +span-columns(2, 3)
    aside
      +span-columns(1 omega, 3)

.project-due-date
  line-height: 35px
  height: 50px
  .word
    display: block
    float: left
    color: $due-date-orange
    font-size: 19px
    +open-sans-regular
    margin: 5px 10px 0 5px
  .number
    display: block
    float: left
    background-color: $due-date-black
    color: $due-date-white
    +bebas
    text-align: center
    font-size: 31px
    width: 24px
    padding:  4px 3px
    display: inline-block
    +border-radius(3px)
    text-transform: uppercase
    +box-shadow(inset 1px -1px 2px $due-date-shadow,inset -1px 1px 2px $due-date-shadow,inset 0px 1px 3px $due-date-white)
    &:before
      border-top: 1px solid #525455
      border-bottom: 1px solid rgba(255,255,255,0.08)
      height: 0px
      position: relative
      width: 22px
      left: -2px
      top: 17px
      content: " "
      display: block
      +box-shadow(inset 0 -1px 0 rgba(50,50,50,0.7), inset 0 -2px 0 rgba(0,0,0,0.7), inset 2px 0px 4px rgba(0,0,0,0.9), inset -2px 0px 4px rgba(0,0,0,0.9))
