{% extends 'installation' %}

{% block 'left' %}

:markdown
  # 1. prepare the environment on your machine

      cd ~/Documents
      mkdir LocomotiveCMS
      cd LocomotiveCMS
      mkdir gems

  <div class="alert alert-info">
  Replace the “\~/Documents” folder by what you want.
  </div>

  # 2. clone the engine and the core gems

      cd gems
      git clone git://github.com/locomotivecms/custom_fields.git
      cd ..
      git clone git://github.com/locomotivecms/engine.git

  # 3. install the gems

      bundle install

  # 4. run the application

    cd spec/dummy
    bundle exec unicorn_rails

  # 5. run the test suite

      bundle exec rake

  You can also run only the cucumber or rspec tests

      bundle exec rake cucumber
      bundle exec rake spec
      bundle exec rake rspec spec/models/locomotive/page_spec.rb

{% endblock %}
