{% extends 'index' %}

{% block 'main' %}

.hero-unit

  %h1 Host on Heroku

  %br

  %p
    The installation on Heroku is pretty simple and it only requires a Heroku (free) / Amazon S3 (inexpensive) account.


.alert
  We assume that you installed
  %strong Heroku
  on you machine. Follow this
  %strong
    %a{ :href => 'http://devcenter.heroku.com/articles/quickstart' } link
  if you did not.

.alert
  We also assume that you followed the
  %strong
    %a{ :href => 'getting_started' } instructions
  to install the engine.


/ === 1 ===

%h3 1. Add the Heroku extension

%br

%p
  Open your
  %strong Gemfile
  file in your LocomotiveCMS application and add the following statement right after the one about the LocomotiveCMS engine.

%pre
  gem 'locomotive-heroku', :require => 'locomotive/heroku'

  gem 'thin', :group => 'production'

%p
  Then, in your terminal, run

%pre
  bundle install

%hr

/ === 2 ===

%h3 2. Create the Heroku app from your app folder

%br

%pre
  git init .
  heroku create &lt;YOUR APP NAME&gt; --stack cedar
  heroku config:add BUNDLE_WITHOUT=development:test
  heroku plugins:install https://github.com/heroku/heroku-labs.git
  heroku labs:enable user_env_compile -a &lt;YOUR APP NAME&gt;
  heroku config:add RUBY_VERSION=ruby-1.9.3-p0
  heroku config:add PATH=bin:vendor/bundle/ruby/1.9.1/bin:/usr/local/bin:/usr/bin:/bin

%hr

/ === 4 ===

%h3 4. Set up a remote Mongodb database

%br

%p
  You can find more information
  %a{ :href => 'http://docs.heroku.com/mongohq' } here.

%pre
  heroku addons:add mongohq:free

%p
  Modify the configuration for the production mongodb database in the
  %strong config/mongoid.yml
  file.

%pre
  :plain
    production:
      uri: <%= ENV['MONGOHQ_URL'] %>

%hr

/ === 5 ===

%h3 5. Enable emails

%br

%p
  LocomotiveCMS needs to send emails and Heroku provides a nice way to send emails for free without configuring a whole mail server on your own.
  You can find more information
  %a{ :href => 'http://docs.heroku.com/sendgrid' } here.

%pre
  heroku addons:add sendgrid:starter

%p
  Add the following lines in your
  %strong config/environments/production.rb
  file.

%pre
  :plain
    config.action_mailer.delivery_method = :smtp
    config.action_mailer.smtp_settings = {
      :address        => 'smtp.sendgrid.net',
      :port           => 25,
      :authentication => :plain,
      :user_name      => ENV['SENDGRID_USERNAME'],
      :password       => ENV['SENDGRID_PASSWORD'],
      :domain         => ENV['SENDGRID_DOMAIN']
    }

%hr

/ === 6 ===

%h3 6. Configure Heroku to work with your Amazon S3 credentials

%br

%pre
  heroku config:add S3_KEY_ID=&lt;YOUR S3 KEY ID&gt;
  heroku config:add S3_SECRET_KEY=&lt;YOUR S3 SECRET KEY&gt;
  heroku config:add S3_BUCKET=&lt;YOUR S3 BUCKET NAME&gt;

%hr

/ === 7 ===

%h3 7. Edit your Locomotive config file.

%br

%p
  Open your
  %strong config/initializers/locomotive.rb
  file and add the following lines

%pre
  :plain
    config.hosting = {
      :target     => :heroku,
      :api_key    => '&lt;YOUR HEROKU API KEY>',
      :app_name   => '&lt;YOUR HEROKU APP NAME>'
    }

%br

.alert.alert-info
  %strong Note:
  Go to your
  %a{ :href => 'https://api.heroku.com/account' } Heroku account
  to get your API key.

%br

.alert.alert-info
  %strong Note:
  the following configuration is in the case you host a single website. If you want to use LocomotiveCMS as a multi-sites platform, you have to uncomment the lines relative to the multi-sites option and set your main domain name (ex: mycmsplatform.com). Also, do not forget to enable the wildcard domains option in
  %strong
    %a{ :href => 'http://docs.heroku.com/custom-domains' } Heroku ($5/mo):

%hr

/ === 8 ===

%h3 8. Pre-compile your assets

%br

%p
  We suggest you to compile your assets locally so that if there is an issue with your assets, you will be able to debug it more easily.

%p
  In your terminal, run the following command

%pre
  bundle exec rake assets:precompile

%hr

/ === 9 ===

%h3 9. Launch it !

%br

%p In your terminal,

%pre
  git add .
  git commit -am "launch it"
  git push heroku master

%p
  Then, visit your application

%pre
  heroku open


{% endblock %}