---
title: Create your first site
published: true
listed: true
position: 5
---
{% extends 'index' %}

{% block content %}

:markdown

  When you create a site with LocomotiveCMS, you do it locally first: this way you can focus on the design and the frontend code. That's what Wagon is used for: it initiates a site, runs a local http server, and eventually pushes your local code to a LocomotiveCMS engine.

  Just in case you haven't yet, you need to [install Wagon](install-wagon) first.

  # 1. Generate a site

    A LocomoticeCMS site is stored in a local folder like any web project. We consider that you store your projects in `~/workspace` directory.

        cd ~/workspace
        wagon init my_first_site -t bootstrap3

    This will create a folder named **my\_first\_site** populated with a default index page and all the Twitter Bootstrap (version 3 here) resources.
    <div class="alert alert-info">
    <strong>Note:</strong> You can list the available templates by typing:<br />
    <code>wagon list_templates</code>
    </div>

    Now you need to install a few gems:

      cd my_first_site
      bundle install

    <div class="alert alert-info">
    <strong>Note:</strong>
    At this point, you could version your website with <a href="http://git-scm.com">GIT</a>, <a href="http://subversion.tigris.org/">SUBVERSION</a> or any SCM.
    </div>

  # 2. Preview your site

      bundle exec wagon serve

    Open now your favorite browser at the following address: **[http://0.0.0.0:3333](http://0.0.0.0:3333)**. On Windows you may have to use **[http://localhost:3333](http://localhost:3333)**.

    <div class="alert alert-info">
    <strong>Note:</strong>
    You can see the logs of the embedded Wagon webserver in the **log/wagon.log** file of your site.
    </div>

  # 3. Edit your site

    Your site can be edited with any text editor: Sublime Text 2, Textmate, vi, emacs, ...etc. There is **no need** to stop/start the serve command when you have modified a liquid template or content type.

  <div class="alert alert-info">
  <strong>Done?</strong> Learn more about the <a href="http://doc.locomotivecms.com/references/liquid-language">templating language</a>, or let's <a href="deployment">deploy your first site to a LocomotiveCMS engine</a>
  </div>

{% endblock %}
