---
title: Install the stack
published: true
listed: true
position: 1
---
{% extends 'index' %}

{% block content %}

%iframe{width: "699", height: "524", src: "//www.youtube.com/embed/VcQO--lqeVw", frameborder: "0", allowfullscreen: true}

{% endblock %}