%aside{ :class => "sidebar"}
  .floating-panel
    .inner-floating-panel
      {% for parent_page in page.parent.parent.parent.children %}
      %header
        %h1
          {{ parent_page.title }}
      %ul.dropdown
        {% for child in parent_page.children %}
        {% if child.listed? %}
        %li
          {% if child.children.size > 0 %}
          %a{ :href => "/{{ child.fullpath }}", :class => "{% if page.fullpath == child.fullpath %}active{% endif %} dropdown-toggle", "data-toggle" => "dropdown" }
            {{ child.title }}
          %ul.dropdown-menu
            {% for grand_child in child.children %}
            {% if grand_child.listed? %}
            %li
              %a{ :href => "/{{ grand_child.fullpath }}" }
                {{ grand_child.title }}
            {% endif %}
            {% endfor %}
          {% else %}
          %a{ :href => "/{{ child.fullpath }}", :class => "{% if page.fullpath == child.fullpath %}active{% endif %}" }
            {{ child.title }}
          {% endif %}

        {% endif %}
        {% endfor %}
      {% endfor %}