%footer#footer
  #inner-footer
    %section.footer-item
      %header
        Locomotive Quick Links
      %ul
        %li
          %a{ :href => "http://www.locomotivecms.com/company" }
            Company
        %li
          %a{ :href => "http://www.locomotivecms.com/privacy-policy" }
            Privacy Policy
        %li
          %a{ :href => "http://www.locomotivecms.com/terms-of-use" }
            Terms of use
        %li
          %a{ :href => "http://www.locomotivecms.com/license" }
            License Agreement

    %section.footer-item
      %header
        Follow
        %a{ :href => "https://twitter.com/locomotivecms" }
          @locomotivecms
    %section.footer-item
      %header
        Locomotive News
      %p
        Stay on top of Locomotive updates, subscribe to our news.
        %a{ href: "http://eepurl.com/uX8R9", target: "_blank", class: "btn" }
          Subscribe
    %section.footer-item
      %header.logo
        LOCOMOTIVECMS
      %p
        %em LocomotiveCMS is developed by NoCoffee. LocomotiveCMS is a free software under the MIT license.
      %p
        %strong © {{ today | localized_date: '%Y' }} Locomotive CMS
    %a.back-to-top{ :href => "#" }
      BACK TO TOP