%br

%p.pull-right
  %a{ :href => '#' } Back to top &uarr;

%p LocomotiveCMS is an open source CMS released under the MIT license
%p
  LocomotiveCMS, LocomotiveCMS Editor, LocomotiveEditor are all trademarks of
  %a{ :href => 'http://www.nocoffee.fr' } NoCoffee SARL