%aside#sidebar.floating-panel
  .inner-floating-panel
    %header
      %h1
        Installation Summary
    %ul
      %li{ :class => "{% if path contains 'requirements' %}active{% endif %}"}
        %a{ :href => "/installation/requirements" }
          Requirements
      %li{ :class => "{% if path contains 'getting_started' %}active{% endif %}"}
        %a{ :href => "/installation/getting_started" }
          Getting started
      %li{ :class => "{% if path contains 'heroku_hosting' %}active{% endif %}"}
        %a{ :href => "/installation/heroku_hosting" }
          Heroku hosting
      %li{ :class => "{% if path contains 'for_developers' %}active{% endif %}"}
        %a{ :href => "/installation/for_developers" }
          For developers



