%nav#main-nav
  .inner-container
    %a.logo_container{ href: 'http://www.locomotivecms.com' }
      %span.logo LOCOMOTIVECMS
    #nav-toggle
      %a.icon-th-list

    %ul
      %li
        %a{ href: 'http://www.locomotivecms.com/hire-us' } Hire us

      %li
        %a{ href: 'http://www.locomotivecms.com/hosting', target: 'blank' } Hosting

      %li.active
        %a{ href: '/' } Documentation

      %li
        %a{ href: 'http://www.locomotivecms.com/comparison' } CMS Comparison

      %li
        %a{ href: 'http://www.locomotivecms.com/features' } Features
