%nav#main-nav
  .inner-container
    %h1
      %a{ :href => "/" }
        LOCOMOTIVECMS
    #nav-toggle
      %a.icon-th-list
    %ul
      {% assign path_segments = path | split: '/' %}
      {% for main_page in site.index.children %}
      %li{ :class => '{% if page.fullpath == main_page.slug %}active{% endif %}{% if path_segments[0] == main_page.slug %}active{% endif %}'}
        %a{ :href => "{{ main_page.fullpath }}" }
          {{ main_page.title }}
      {% endfor %}
      