%aside#sidebar.floating-panel
  .inner-floating-panel
    %header
      %h1
        Summary
    %ol
      %li
        %a{ :href => "/guide/part-1" }
          Foreword
      %li
        %a{ :href => "/guide/part-2" }
          Overview
      %li
        %a{ :href => "/guide/part-3" }
          Templating
      %li
        %a{ :href => "/guide/part-4" }  
          Models
      %li
        %a{ :href => "/guide/part-5" }
          Tips