%section#page-head
  %section#page-head-content
    %header
      {% editable_short_text "page-head-title", priority: 10 %}
      {{ page.title }}
      {% endeditable_short_text %}
    {% editable_long_text "page-head-content", priority: 9 %}
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae ante sit amet mi vehicula suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    {% endeditable_long_text %}
  %aside
    %a{ :href => "#" }
      Install now