{% with_scope handle: handle %}{% assign _page = site.pages.first %}{% endwith_scope %}

%h3
  %a.uber_link{href: "/{{ _page.fullpath }}"}
    {{ _page.title }}

{% if _page.slug == page.parent.slug or _page.slug == page.slug %}
%ul
  {% for p in _page.children %}
  {% if p.listed? and p.published? %}
  %li{ class: "{% if p.fullpath == page.fullpath %}active{% endif %}" }
    {% if p.redirect? %}
    %a{ href: '{{ p.redirect_url }}' } {{ p.title }}
    {% else %}
    {% link_to p %}
    {% endif %}
  {% endif %}
  {% endfor %}
{% endif %}