%aside{ :class => "sidebar"}
  .floating-panel
    .inner-floating-panel
      %header
        %h1
          {{ page.parent.title }}
      %ul
        {% for child in page.parent.children %}
        %li
          %a{ :href => "/{{ child.fullpath }}", :class => "{% if page.fullpath == child.fullpath %}active{% endif %}" }
            {{ child.title }}
        {% endfor %}

