{% assign path_segments = path | split: '/' %}
{% assign current_depth = path_segments | size | minus: 1 %}

{% assign max_loop = current_depth | minus: depth %}
{% assign source = page %}
{% for i in (1..max_loop) %}
{% assign source = source.parent %}
{% endfor %}

{% assign _depth = depth | plus: 1 %}

%nav.subnav
  %ul
    {% for child in source.children %}
    {% if child.listed? %}
    {% assign page_segments = child.fullpath | split: '/' %}
    %li
      %a{ :href => "/{{ child.fullpath }}", :class => "{% if page_segments[depth] == path_segments[_depth] %}current{% endif %}" }
        {{ child.title }}
    {% endif %}
    {% endfor %}

