%aside{ :class => "sidebar"}
  .floating-panel
    .inner-floating-panel
      %header
        %h1
          Reference summary
      %ul
        %li{ :class => "{% if page.fullpath == 'reference/basics' %}active{% endif %}"}
          %a{ :href => "/reference/basics" }
            Basics
        %li{ :class => "{% if page.fullpath == 'reference/objects' %}active{% endif %}"}
          %a{ :href => "/reference/objects" }
            Objects
        %li{ :class => "{% if page.fullpath == 'reference/filters' %}active{% endif %}"}
          %a{ :href => "/reference/filters" }
            Filters
        %li{ :class => "{% if page.fullpath == 'reference/tags' %}active{% endif %}"}
          %a{ :href => "/reference/tags" }
            Tags