---
title: format_date
published: true
listed: true
---
{% extends 'references/api' %}

{% block content %}

:markdown

  ## Description

  alias for **localized_date**.

  ## Syntax

      {% raw %}{{ <date> | format_date: <locale> }}{% endraw %}


{% endblock %}