---
title: random
published: true
listed: true
---
{% extends 'references/api' %}

{% block content %}

:markdown

  ## Description

  Get a randomly number greater than or equal to 0 and strictly less than the max number passed in parameter.

  ## Syntax

      {% raw %}{{ <max_integer> | random }}{% endraw %}

  ## Example

      {% raw %}{{ 10 | random }}{% endraw %}

  returns

      "4"

  or any numbers between 0 and 9.

{% endblock %}