---
title: Standard filters
published: true
listed: true
position: 1
---
{% extends 'references/api' %}

{% block content %}

:markdown

  # *downcase*

  ## Description

  convert an input string to DOWNCASE

  ## Usage

      {% raw %}
      {{ "Testing" | downcase }}
      testing
      {% endraw %}

  <hr/>

  # *upcase*

  ## Description

  convert an input string to UPCASE

  ## Usage

      {% raw %}
      {{ "Testing" | upcase }}
      TESTING
      {% endraw %}

  <hr/>

  # *capitalize*

  ## Description

  capitalize words in the input centence

  ## Usage

      {% raw %}
      {{ "testing" | capitalize }}
      Testing
      {% endraw %}

  <hr/>

  # *escape*

  ## Description

  escape special characters in HTML, namely &"<>

  ## Usage

      {% raw %}
      {{ 'Usage: foo "bar" <baz>' | upcase }}
      Usage: foo &quot;bar&quot; &lt;baz&gt;
      {% endraw %}

  <hr/>

  # *truncate*

  ## Description

  truncate a string down to x characters

  ## Usage

      {% raw %}
      {{ '1234567890' | truncate: 7 }}
      1234...
      {% endraw %}

  <hr/>

  # *truncatewords*

  ## Description

  truncate a sentence down to x words

  ## Usage

      {% raw %}
      {{ 'one two three' | truncatewords: 2 }}
      one two...
      {% endraw %}

  <hr/>

  # *split*

  ## Description

  split input string into an array of substrings separated by given pattern.

  ## Usage

      {% raw %}
      {{ '12~34' | split: '~' }}
      ['12','34']
      {% endraw %}

  <hr/>

  # *strip_html*

  ## Description

  strip HTML tags

  ## Usage

      {% raw %}
      {{ '<div>test</div>' | strip_html }}
      test
      {% endraw %}

  <hr/>

  # *strip_newlines*

  ## Description

  remove all newlines from the string

  ## Usage

      {% raw %}
      {{ "a\nb\nc" | strip_newlines }}
      abc
      {% endraw %}

  <hr/>

  # *join*

  ## Description

  join elements of the array with certain character between them

  ## Usage

      {% raw %}
      {{ [1,2,3,4] | join }}
      1 2 3 4
      {{ [1,2,3,4] | join: ' - ' }}
      1 - 2 - 3 - 4
      {% endraw %}

  <hr/>

  # *sort*

  ## Description

  sort elements of the array. Provide optional property with which to sort an array of hashes or drops

  ## Usage

      {% raw %}
      {{ [4,3,2,1] | sort }}
      [1,2,3,4]
      {{ products | sort: price }}
      {% endraw %}

  <hr/>

  # *reverse*

  ## Description

  Reverse the elements of an array

  ## Usage

      {% raw %}
      {{ [1,2,3,4] | reverse }}
      [4,3,2,1]
      {% endraw %}

  <hr/>

  # *map*

  ## Description

  map/collect on a given property

  ## Usage

      {% raw %}
      {{ products | map: name }}
      ['Product 1', 'Product 2']
      {% endraw %}

  <hr/>

  # *replace*

  ## Description

  replace occurrences of a string with another

  ## Usage

      {% raw %}
      {{ '1 1 1 1' | replace: '2' }}
      2 2 2 2
      {% endraw %}

  <hr/>

  # *replace_first*

  ## Description

  replace the first occurrences of a string with another

  ## Usage

      {% raw %}
      {{ '1 1 1 1' | replace_first: '2' }}
      2 1 1 1
      {% endraw %}

  <hr/>

  # *remove*

  ## Description

  remove a substring

  ## Usage

      {% raw %}
      {{ "a a a a" | remove: 'a' }}
      {% endraw %}

  <hr/>

  # *remove_first*

  ## Description

  remove the first occurrences of a substring

  ## Usage

      {% raw %}
      {{ 'a a a a' | remove_first: 'a ' }}
      a a a
      {% endraw %}

  <hr/>

  # *append*

  ## Description

  add one string to another

  ## Usage

      {% raw %}
      {{ "bc" | append: 'd' }}
      bcd
      {% endraw %}

  <hr/>

  # *prepend*

  ## Description

  prepend a string to another

  ## Usage

      {% raw %}
      {{ "bc" | prepend: 'a' }}
      abc
      {% endraw %}

  <hr/>

  # *newline_to_br*

  ## Description

  add <br /> tags in front of all newlines in input string

  ## Usage

      {% raw %}
      {{ "a\nb\nc" | newline_to_br }}
      a<br />\nb<br />\nc
      {% endraw %}

  <hr/>

  # *date*

  ## Description

  Reformat a date

      %a - The abbreviated weekday name (``Sun'')
      %A - The  full  weekday  name (``Sunday'')
      %b - The abbreviated month name (``Jan'')
      %B - The  full  month  name (``January'')
      %c - The preferred local date and time representation
      %d - Day of the month (01..31)
      %H - Hour of the day, 24-hour clock (00..23)
      %I - Hour of the day, 12-hour clock (01..12)
      %j - Day of the year (001..366)
      %m - Month of the year (01..12)
      %M - Minute of the hour (00..59)
      %p - Meridian indicator (``AM''  or  ``PM'')
      %S - Second of the minute (00..60)
      %U - Week  number  of the current year,
              starting with the first Sunday as the first
              day of the first week (00..53)
      %W - Week  number  of the current year,
              starting with the first Monday as the first
              day of the first week (00..53)
      %w - Day of the week (Sunday is 0, 0..6)
      %x - Preferred representation for the date alone, no time
      %X - Preferred representation for the time alone, no date
      %y - Year without a century (00..99)
      %Y - Year with century
      %Z - Time zone name
      %% - Literal ``%'' character

  ## Usage

      {% raw %}
      {{ now | date: '%m/%d/%Y' }}
      11/23/2014
      {% endraw %}

  <hr/>

  # *plus*

  ## Description

  addition

  ## Usage

      {% raw %}
      {{ 1 | plus: 1 }}
      2
      {% endraw %}

  <hr/>

  # *minus*

  ## Description

  subtraction

  ## Usage

      {% raw %}
      {{ '4.3' | minus: '2' }}
      2.3
      {% endraw %}

  <hr/>

  # *times*

  ## Description

  multiplication

  ## Usage

      {% raw %}
      {{ 0.0725 | times:100 }}
      7.25
      {% endraw %}

  <hr/>

  # *divided_by*

  ## Description

  division

  ## Usage

      {% raw %}
      {{ 14 | divided_by:3 }}
      4
      {% endraw %}

  <hr/>

  # *modulo*

  ## Description

  modulo

  ## Usage

      {% raw %}
      {{ 3 | modulo: 2 }}
      1
      {% endraw %}

  <hr/>

{% endblock %}
