// imports
@import "compass"
@import "compass/layout"
@import "susy"

// modules
@import "colors"
@import "grids"
@import "media_queries"

// Browser Support
$legacy-support-for-ie6         : false
$legacy-support-for-ie7         : false
$legacy-support-for-ie8         : true


$section-padding: 50px
