{% extends 'reference/tags' %}

{% block 'content' %}

:markdown
  # extends
  
  <div class="alert warning-info">
    The extends tag must be
    <b>ALWAYS</b>
    the first statement.
  </div>
  
  Set the layout of the current page. A page can be a layout for another page. The tag needs a single parameter which can take two values:
  - *parent* the layout for the parent url
  - *some/page/path* a specific pages layout
        
  <div class="alert alert-info">
  You do not need to close this tag.
  </div>
  
  {% raw %}
      {% extends parent %}
      {% extends 'support/index' %}
  {% endraw %}
  
  
{% endblock %}
  