@font-face {
  font-family: "ProximaNova-Light";
  src: url('font-weight(lighter)');
  src: url('font-weight(lighter)?#iefix') format('eot'), url('ProximaNova-Light.otf') format('opentype'); }

@font-face {
  font-family: "ProximaNova-Regular";
  src: url('font-weight(normal)');
  src: url('font-weight(normal)?#iefix') format('eot'), url(ProximaNova-Regular.otf) format('opentype'); }

@font-face {
  font-family: "ProximaNova-Sbold";
  src: url('font-weight(semi-bold)');
  src: url('font-weight(semi-bold)?#iefix') format('eot'), url(ProximaNova-Sbold.otf) format('opentype'); }

@font-face {
  font-family: "OpenSans-Bold";
  src: url('font-weight(bold)');
  src: url('font-weight(bold)?#iefix') format('eot'), url(OpenSans-Bold.ttf) format('truetype'); }

@font-face {
  font-family: "OpenSans-Regular";
  src: url('font-weight(normal)');
  src: url('font-weight(normal)?#iefix') format('eot'), url(OpenSans-Regular.ttf) format('truetype'); }

@font-face {
  font-family: "OpenSans-Italic";
  src: url(OpenSans-Italic.ttf) format('truetype'); }

@font-face {
  font-family: "OpenSans-Semibold";
  src: url('font-weight(semi-bold)');
  src: url('font-weight(semi-bold)?#iefix') format('eot'), url(OpenSans-Semibold.ttf) format('truetype'); }

@font-face {
  font-family: "FuturaLT";
  src: url('font-weight(normal)');
  src: url('font-weight(normal)?#iefix') format('eot'), url(FuturaLT.ttf) format('truetype'); }

@font-face {
  font-family: "Fontello";
  src: url('font-weight(normal)');
  src: url('font-weight(normal)?#iefix') format('eot'), url(fontello.otf) format('opentype'), url(fontello.ttf) format('truetype'), url(fontello.woff) format('woff'), url(fontello.svg) format('svg'); }

@media only screen and (min-width: 500px) {
  @font-face {
    font-family: "Creampuff";
    src: url('font-weight(normal)');
    src: url('font-weight(normal)?#iefix') format('eot'), url(Creampuf.ttf) format('truetype'), url(Creampuf.woff) format('woff'), url(Creampuf.svg) format('svg'); } }