{% extends '/index' %}

{% block 'main' %}

.hero-unit

  %h1 Create your website with the LocomotiveEditor

  %br

  %p
    You will learn how to use the command line to build your website

/ === 1 ===

%h3 1. prepare your environment

%br

%p
  We recommend you to store all the websites built with the editor into a same parent folder.

%pre
  mkdir -p ~/Documents/LocomotiveCMS/sites
  cd ~/Documents/LocomotiveCMS/sites

%hr

/ === 2 ===

%h3 2. generate a website

%br

%pre
  locomotive_editor create -n my_first_website --template=twitter_bootstrap_haml

%p This will create a folder named my_first_website populated a default index page and all the twitter bootstrap resources (javascripts, stylesheets and images).

.alert.alert-info
  %strong Note:
  In the example above, we decided to not start from scratch but instead with a pre-existing site template (ie: twitter_bootstrap_haml).
  Check this
  %a{ :href => 'templates' } link
  to learn more about this functionality.

%p Structure of the generated website

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th File / Folder
      %th Purpose
  %tbody
    %tr
      %td app/content_types
      %td The definitions of the content types are stored here (file extension: .yml)
    %tr
      %td app/views/pages
      %td The liquid files for the pages (file extensions: .liquid or .liquid.haml)
    %tr
      %td app/views/snippets
      %td The liquid files for the snippets (file extensions: .liquid or .liquid.haml)
    %tr
      %td config/site.yml
      %td Your site config file. It describes the information about your site (meta) and your pages
    %tr
      %td config/deploy.yml
      %td It describes the targets where to push your site
    %tr
      %td data
      %td Each content type can have its own set of data. They are described in Yaml files under this folder
    %tr
      %td public/fonts
      %td The font files here (from FontSquirrel for instance)
    %tr
      %td public/images
      %td All the images needed by your layouts
    %tr
      %td public/javascripts
      %td The javascript files (file extensions: .js or .js.coffee)
    %tr
      %td public/stylesheets
      %td The stylesheets files (file extensions: .css or .css.scss)
    %tr
      %td public/samples
      %td The files you use for your content types or the editable contents inside pages

%hr

/ === 3 ===

%h3 3. edit your website

%br

%pre mate my_first_website

%br

.alert.alert-info
  %strong Note:
  At this point, you could version your website with
  %a{ :href => 'http://git-scm.com' } GIT
  ,
  %a{ :href => 'http://subversion.tigris.org/' } SUBVERSION
  or any SCM.

%hr

/ === 4 ===

%h3 4. launch the LocomotiveEditor webserver

%br

%pre
  locomotive run -n my_first_website
  open http://0.0.0.0:4567

%p Here you go, you can now modify your sites within your IDE. By simply refresh your browser, you will able to see the changes you made !




{% endblock %}