{% extends 'editor' %}

{% block 'left' %}
:markdown
  <div class="alert alert-warning">
  <strong>Important.</strong> The only requirement is to have somewhere (it can be online or locally) a running engine. Check out our <a href="/installation">installation procedure</a> for more information.
  </div>

  # 1. Edit your deployment settings

  <div class="alert alert-info">
  We assume that your LocomotiveEditor sites are located under ~/Documents/LocomotiveCMS/sites. If not, please correct it accordingly.
  </div>
  
      cd ~/Documents/LocomotiveCMS/sites
      mate my_first_website/config/deploy.yml

  Here is what your deploy.yml file should look like:

      development:
        host: dev.example.com
        email: john@doe.net
        password: easyone
      staging:
        host: staging.example.com
        email: john@doe.net
        password: easyone
      production:
        host: www.example.com
        email: john@doe.net
        password: easyone

  The email/password credentials are owned by one of your **LocomotiveCMS administrator accounts.**

  <div class="alert alert-info">
  You can as many targets (test, …etc) as you want.
  </div>

  # 2. Push

  ### the whole site:

      locomotive_editor push --name=my_first_website --resources=all --target=staging

  or

      locomotive_editor push -n my_first_website -r all -t staging

  ### only a specify type of resource:

  In some cases, you do not want to push all the whole site. For instance, if you have just modified a single page, you do not need to push the assets too.

  The available resource types are: **theme_assets, snippets,
  content_types and pages.**

  Example:

      locomotive_editor push --name=my_first_website --resources=pages --target=staging

  ### when the resource already exists within your target engine

  By default, the push command will not let you erase your target resources. That is why you will see the “skipped” label beside your resource name if you try to run the push command.

  Unless you force it:

      locomotive_editor push --name=my_first_website --resources=pages --target=staging --force


{% endblock %}

{% block 'sidebar' %}
{% include 'sidebar_depth_1' %}
{% endblock %}