{% extends 'index' %}

{% block 'main' %}

.hero-unit

  %h1 Installation

  %br

  %p
    The LocomotiveEditor is our in-house tool to build LocomotiveCMS websites very quickly

.alert.alert-info
  %strong Important.
  We decided to release it as a low-paid application. Visit this
  %a{ :href => 'http://www.locomotivecms.com/modules/locomotive-editor' } page
  to learn more about our application and buy it.

/ === 1 ===

%h3 1. install the bundler and rake gems

%br

%pre
  gem install bundler
  gem install rake

%hr

/ === 2 ===

%h3 2. add our modules gems source

%br

%pre
  gem sources -a http://&lt;your id&gt;:&lt;your license key &gt;@modules.locomotivecms.com

%hr

/ === 3 ===

%h3 3. install the application

%br

%pre
  gem install locomotive_editor -v 1.0.0.rc13

%hr

%br

%p
  %a.btn.btn-primary.pull-right{ :href => 'create_a_site' } Create your first website


{% endblock %}