{% extends 'editor' %}

{% block 'left' %}
:markdown
  <div class="alert alert-info">
  **Important.** We decided to release it as a low-paid application. Visit this [page][] to learn more about our application and buy it.
  </div>
  
  # 1. install the bundler and rake gems

  <div class="alert error-alert">
  Make sure you have installed **Ruby**. If not, please read the “Ruby” section in the following [page][1] .   
  The editor runs fine with these ruby versions: **1.8.7, 1.9.2 and 1.9.3.**
  </div>
  
    gem install bundler
    gem install rake

  # 2. add our modules gems source
  
    gem sources -a http://<your id>:<your license key >@modules.locomotivecms.com

  # 3. install the application

    gem install locomotive_editor -v 1.0.0.rc15

  [Create your first website](/editor/create_site)
  

{% endblock %}