{% extends '/index' %}

{% block 'main' %}

.hero-unit

  %h1 Using and developing site templates

  %br

  %p
    Site templates allow you to use your own skeleton LocomotiveEditor site to industrialize your process of building LocomotiveCMS sites.
    %br
    A site template comes up with its own pages, snippets, content types, javascripts, stylesheets and images.

/ ===

%h3 Listing the existing site templates

%br

%pre
  locomotive_editor list_templates

%br

%p By default, the LocomotiveEditor includes three site templates.

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Description
  %tbody
    %tr
      %td empty
      %td this is the default template, very minimal. No javascripts, no stylesheets, just the index / 404 pages
    %tr
      %td twitter_bootstrap
      %td includes all the files provided by the Twitter Bootstrap package as well as the index / 404 pages
    %tr
      %td twitter_bootstrap_haml
      %td includes all the files provided by the Twitter Bootstrap package as the index / 404 pages but in Liquid/HAML

%hr

/ ===

%h3 Assigning a site template when creating a new site

%br

%pre
  locomotive_editor create -n my_first_site -t twitter_bootstrap

%p or

%pre
  locomotive_editor create -n my_first_site --template twitter_bootstrap

%hr

/ ===

%h3 Coding your site template

%br

%p
  It requires some Ruby skills but no so much. Do not worry, we are going to guide you step by step by developing an example.

%h4 1. prepare your environment

%br

%pre
  cd ~/Documents/LocomotiveCMS/sites
  mkdir -p site_templates/my_template
  mkdir -p site_templates/my_template/app/views/pages
  mkdir site_templates/my_template/app/content_types
  mkdir -p site_templates/my_template/public/images
  mkdir site_templates/my_template/public/javascripts
  mkdir site_templates/my_template/public/stylesheets


%br

%h4 2. define your template in Ruby

%br

%pre
  mate site_templates/my_template.rb

%p
  Fill in with the following Ruby code:

%pre
  :plain
    class MyTemplate < LocomotiveEditor::SiteTemplates::Template

      def self.message
        %(My simple template)
      end

      def source_folder
        File.join(File.dirname(File.expand_path(__FILE__)), 'my_template', '/')
      end

    end

    LocomotiveEditor::SiteTemplates::Manager.register(:my_template, MyTemplate)

%br

%h4 3. edit your site

%br

%p
  All you have to do is to populate your site by copying your existing stylesheets, javascripts, pages ...etc to their target folders inside the template folder.

%p For instance, if you want to tweak your index page:

%pre
  mate site_templates/my_template/app/views/pages/index.liquid.haml

%br

%h4 4. using your template

%br

%p Let's see if your template is now part of the available site templates. You should see "my_template"

%pre
  locomotive_editor list_templates --lib=./site_templates/my_template.rb

%br

%p Here is the command to create a new LocomotiveEditor site with your new template

%pre
  locomotive_editor create -n another_site --template=my_template.rb --lib=./site_templates/my_template.rb

{% endblock %}