{% extends 'guides' %}

{% block 'left' %}

:markdown
  ### Anatomy of a LocomotiveCMS app

  LocomotiveCMS is crafted as an engine.

  <em>
  A Rails engine is an application packaged as a ruby gem that is able to be run or mounted within another Rails application. An engine can have its own models, views, controllers, generators and publicly served static files.
  </em>
  ([more about engines](http://guides.rubyonrails.org/engines.html))

  What's inside ?

  - [Rails 3](http://www.rubyonrails.org)
  - [Mongoid](http://www.mongoid.org)
  - [Devise](http://blog.plataformatec.com.br/tag/devise)
  - [Liquid](http://www.liquidmarkup.org)
  - [Haml](http://haml-lang.com)
  - [Formtastic](https://github.com/justinfrench/formtastic)
  - [Carrierwave](http://carrierwave.rubyforge.org)

  <a name="overview_2"></a>
  ### Key features

  You have out of the box :

  - Multi sites : manage multiple websites with one application instance
  - Flexible content types
  - Front-end inline editing (Aloha editor)
  - Content localization
  - Restful API
  - Haml / Sass support
  - Liquid templating langage
  - A very nice User Interface

{% endblock %}