{% extends 'index' %}

{% block 'main-content' %}
%section#page-title
  .inner-container
    %header
      Overview
    %p

      Duis mollis, est non commodo luctus, <a>Vestibulum</a> ligula porta feliid ligula porta felis e
%section#content#grid-three
  #main
    :markdown
      qweqwe
  {% include 'guide_summary' %}

{% endblock %}