---
title: Concat
published: true
listed: true
position: 4
---
{% extends 'reference/filters' %}

{% block 'main/left/content' %}

:markdown
  # concat(input, args)

  Append strings passed in args to the input

  {% raw %}
      {{ 'hello' | concat: 'world', 'yeah' }}
  {% endraw %}

  **Example**: Returns
      helloworldyeah

{% endblock %}