---
title: Dasherize
published: true
listed: true
position: 2
---
{% extends 'reference/filters' %}

{% block 'main/left/content' %}

:markdown
  # dasherize(input)

  Replaces underscores with dashes in the string.

  {% raw %}
      {{ 'hello_world' | dasherize }}
  {% endraw %}

  **Example**: Returns hello-bar

{% endblock %}