{% extends 'reference/filters' %}

{% block 'content' %}


:markdown
  # dasherize(input)

  Replaces underscores with dashes in the string.

  {% raw %}
      {{ 'hello_world' | dasherize }}
  {% endraw %}

  **Example**: Returns hello-bar

{% endblock %}