---
title: Textile
published: true
listed: true
position: 6
---
{% extends 'reference/filters' %}

{% block 'main/left/content' %}

:markdown
  # textile(input)

  Convert a Markdown-formatted string into HTML.

  {% raw %}
      {{ '### Header' | textile }}
  {% endraw %}

  **Example**: Returns
      <h3>Header</h3>

{% endblock %}