---
title: Javascript url
published: true
listed: true
position: 4
---
{% extends 'references/filters' %}

{% block 'main/left/content' %}

:markdown
  # javascript_url(input)

  Return the url of a theme asset javascript

      {% raw %}{{ 'application.js' | javascript_url }}
  {% endraw %}

  **Example**: Returns 

      "/sites/<site_id>/theme/javascripts/application.js"

{% endblock %}