---
title: link_to tag
published: true
listed: true
position: 1
---
{% extends 'references/filters' %}

{% block 'main/left/content' %}

:markdown
  # link_to

  Return a html anchor to a given page.
  The page is identified by its handle.

      {% raw %}{% link_to some-page %}
      {% link_to about-us %}
        <i class="icon-info-sign"></i> {{ target.title }}
      {% endlink_to %}{% endraw %}

  **Example**: Returns

      <a href="/path/to/some-page">Some page title</a>
      <a href="/path/to/about-us">
        <i class="icon-info-sign"></i> About us
      </a>

  <div class="alert alert-info">This tag requires Wagon 1.2+ and LocomotiveCMS 2.1+</div>
{% endblock %}
