---
title: Theme image tag
published: true
listed: true
position: 9
---
{% extends 'references/filters' %}

{% block 'main/left/content' %}

:markdown
  # theme\_image\_tag(input, options)

  Return the image tag of a theme image

      {% raw %}{{ 'banner.png' | theme_image_tag: 'alt:hello world' }}
  {% endraw %}

  Example: Returns

      <img src="/sites/<site_id>/theme/images/banner.png" alt="hello world" />

  ### Options

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>alt</td>
        <td>String</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>title</td>
        <td>String</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>

{% endblock %}