---
title: Default
seo_title: "Default: set a value if a string is null"
published: true
listed: true
position: 6
---
{% extends 'references/filters' %}

{% block 'main/left/content' %}

:markdown
  # default(input, value)

  Return the value parameter if the input is either null or empty.

      {% raw %}{{ params.author | default: 'John Doe' }}
  {% endraw %}

  **Example**: Returns "John Doe" if the value of params.author is null.

{% endblock %}