---
title: Google analytics
published: true
listed: true
position: 3
---
{% extends 'reference/tags' %}

{% block 'main/left/content' %}

:markdown
  # google_analytics

  It is simply a helper tag which includes the snippet code that it is asked by Google Analytics to enable traffic analytics.

  Just provide your Google account id.

  <div class="alert alert-info">
    Put your google_analytics tag just before the
    <b>closing BODY tag.</b>
  </div>

  {% raw %}
      {% google_analytics 'UA-424242' %}
  {% endraw %}

{% endblock %}
