{% extends 'reference/tags' %}

{% block 'content' %}

:markdown
  # inline_editor
  
  The inline_editor tag *mandatory* to enable the inline editing feature (Aloha Editor) directly from the pages.
      
  <div class="alert alert-info">
    Put your inline_editor tag just before the
    <b>closing HEAD tag.</b>
  </div>
      
      {% inline_editor %}
  
{% endblock %}
  