---
title: Pull a site from a hosted location
listed: true

editable_elements:
  main/page_head_title: "Pull a site from a hosted location"

---
{% extends 'guides/hosting' %}

{% block 'main/left/content' %}

:markdown
  TODO write-it
{% endblock %}

{% block 'sidebar' %}
{% include 'sidebar_depth_1' %}
{% endblock %}