{% extends index %}

{% block 'main-content' %}

.alert.alert-error
  %h4.alert-heading Page not found!

  %br

  %p
    If you think we made a mistake, please contact
    %a{ :href => 'mailto:support@locomotivecms.com' } us

{% endblock %}