{% extends index %}

{% block 'main' %}

.alert.alert-error
  %h4.alert-heading Page not found!
  %p
    Best check yo self, you’re not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

{% endblock %}