---
title: Community
published: true
listed: false
handle: community
---
{% extends 'index' %}

{% block content %}

:markdown

  ## Can’t find the answers you’re looking for?
  
  Let’s get you some help fast:

  - Ask the community: [search the forum](https://groups.google.com/forum/#!forum/locomotivecms)
  - [Contact our support team](http://locomotivecms.tenderapp.com/discussion/new) and we'll personally get back to you as quickly as we can.

  ---
  
  ## Want to fix the mistakes or write some missing guides?

  To help us, just fork the documentation on GitHub and send us a pull request!

  [See the documentation site on GitHub](https://github.com/locomotivecms/documentation)

  ---
  
  ## Stay in touch! Subscribe to LocomotiveCMS newsletter.
  
  <div class="subscribe">
    <a href="http://eepurl.com/uX8R9" target="_blank" class="orange-rounded-button">Subscribe</a>
  </div>
  

{% endblock %}