---
title: Community
published: true
listed: false
handle: community
---
{% extends 'index' %}

{% block content %}

#community-items

  %section.item
    .picto {{ 'pictos/community_support.png' | theme_image_tag }}
    %h2
      Google Group
    %p
      Having problems? Search our
      %a{href: "https://groups.google.com/forum/#%21forum/locomotivecms"} Google Group
      our post a new topic to get support from the LocomotiveCMS team and other LocomotiveCMS veterans.

  %section.item
    .picto {{ 'pictos/professional_support.png' | theme_image_tag }}
    %h2
      Professional Support
    %p
      LocomotiveHosting members get access to priority support by email.
      Sign up for a
      %a{href: "http://www.locomotivehosting.com/"} LocomotiveHosting
      membership for as low as $19/month to get your questions answered right away.

  %section.item
    .picto {{ 'pictos/github.png' | theme_image_tag }}
    %h2
      GitHub
    %p
      Dive into our code, report bugs and contribute on
      %a{href: "https://github.com/locomotivecms"} GitHub.
    %p
      Find a documentation error or want to contribute a missing guide? Just fork the
      %a{href: "https://github.com/locomotivecms/documentation"} documentation
      and send us a pull request!

  %section.item
    .picto {{ 'pictos/newsletter.png' | theme_image_tag }}
    %h2
      Subscribe to our Newsletter
    %p
      Stay on top of LocomotiveCMS news and updates, be the first to be informed of our new releases and get actionable tips on how to make the most of our awesome CMS.

    .subscribe
      %a.orange-rounded-button{href: "http://eepurl.com/uX8R9", target: "_blank"} Get Updates!      
      
{% endblock %}