---
title: FAQ
published: true
listed: true
position: 3

editable_elements:
  main/page_head_title: "FAQ"
  main/page_head_content: ""
---
{% extends 'index' %}
{% block 'main' %}
{% include 'page_head' %}

#main-generic
  {% block 'left' %}
  %section#container-sidebar
    {% block 'content' %}
    %ul
      {% for mainpage in page.children %}
      {% if mainpage.listed? %} 
      %li
        %a{ :href => '{{ mainpage.fullpath }}' }
          {{ mainpage.title }}
      {% endif %}
      {% endfor %}
    {% endblock %}
  {% endblock %}
{% endblock %}
