{% extends 'index' %}

{% block 'main' %}
{% include 'page_head' %}
#main-generic
  %section#container-generic.princing-faq-container
    {% for question in contents.questions %}
    {% include 'pricing_faq_item' %}
    {{ forloop.length/2 }}
    {% endfor %}

{% endblock %}