{% extends index %}

{% block 'main' %}

.hero-unit

  %h1 Frequently Asked Questions

  %br

  %p
    Here are the most frequent questions people ask about LocomotiveCMS.


.tabbable

  %ul.nav.nav-tabs
    {% for category in contents.faq_entries.group_by_category %}
    %li
      %a{ href: '#{{ category.name | dasherize }}', data: { toggle: 'tab' } } {{ category.name }}

    {% endfor %}

  .tab-content
    {% for category in contents.faq_entries.group_by_category %}
    .tab-pane{ id: '{{ category.name | dasherize }}' }
      {% for entry in category.entries %}
      %h4 {{ entry.question }}

      %br

      .text
        {{ entry.answer }}

      %hr

      {% endfor %}
    {% endfor %}


{% endblock %}