---
title: Get started
published: true
listed: false
handle: get-started
searchable: false
---
{% extends 'index' %}

{% block 'content' %}

:markdown

  Welcome to LocomotiveCMS.

  If you're completely new to LocomotiveCMS, we recommend you start by reading about [what LocomotiveCMS is and why use it?](/get-started/what-is-locomotivecms). You'll also want to read this brief explanation of LocomotiveCMS's two core parts: [Engine and Wagon](/get-started/engine-and-wagon). One final resource for beginners is the [LocomotiveCMS 101](http://www.locomotivecms.com/101-getting-started) guide, a crash course that will quickly bring you up to speed.

  When you're ready to start building sites, [Install Wagon](/get-started/install-wagon) and head over to the [Making a Blog](/making-blog) tutorial, a complete guide to developing with LocomotiveCMS. The [Making a Blog](/making-blog) tutorial assumes you've have either [setup an Engine locally](/get-started/install-engine-locally) or have [created a free LocomotiveHosting account](/get-started/locomotivehosting).
  
  Once you’ve mastered the basics, you can find step by step guides for specific development tasks in the [Guides section](/guides/create-a-contact-form). You will also likely want to make heavy use of the [Reference section](/references).
  
  For support resources and more from the worldwide LocomotiveCMS community, check out the [Community section](/community). When you’re stuck, the [Google Group](https://groups.google.com/forum/#%21forum/locomotivecms), is the best place to get support for your questions. You can also help out by filing bug reports or making pull requests to our [GitHub account](https://github.com/locomotivecms).

  Thanks for visiting and enjoy developing with LocomotiveCMS!

{% endblock %}
