---
title: Get started
published: true
listed: false
handle: get-started
searchable: false
---
{% extends 'index' %}

{% block 'content' %}

:markdown
  Are you completely new to LocomotiveCMS?
  
  Then you’ll want to start by reading [What is LocomotiveCMS and why use it?](http://doc.locomotivecms.com/get-started/what-is-locomotivecms)
  
  --
  
  After that, you’ll want to learn about LocomotiveCMS’s two key parts: Wagon and Engine.
  From there, you should be ready to start making sites, so [Install Wagon](http://doc.locomotivecms.com/get-started/install-wagon) and head on over the our thorough and complete primer on developing with LocomotiveCMS: [the Making a Blog tutorial](http://doc.locomotivecms.com/making-blog).
  
  The tutorial assumes you’ve setup an Engine somewhere, so you’ll want to look at your options and get something setup to use when doing the tutorial, even if it’s just a local development engine or a free [LocomotiveHosting site](http://doc.locomotivecms.com/get-started/locomotivehosting).

  --
  
  Once you’ve mastered the basics, you can find step by step guides for specific development tasks in the [Guides section](http://doc.locomotivecms.com/guides/create-a-contact-form). You’ll also want to make heavy use of the Reference section, which provides detailed information about [Template features](http://doc.locomotivecms.com/references/liquid-language), [API usage](http://doc.locomotivecms.com/references/api/objects/global-variables), and Configuration options.

  --
  
  For support resources and more from the worldwide LocomotiveCMS community, check out the [Community section](http://doc.locomotivecms.com/community). When you’re stuck, the [Google Forum](https://groups.google.com/forum/#%21forum/locomotivecms), is the best place to get support for your questions. You can also help out by filing bug reports or making pull requests to our [GitHub account](https://github.com/locomotivecms).

  ###Thanks for visiting and enjoy developing with LocomotiveCMS!

{% endblock %}