{% extends 'index' %}

{% block 'main' %}
{% include 'page_head' %}
#main-generic
  %section#container-sidebar
    {% block 'content' %}
    %h1 Guides summary

    {% assign path_segments = path | split: '/' %}
    
    {% for child in page.children %}
    %ul
      %li
        %a{ :href => "{{ fullpath }}/{{ child.slug }}", :class => "{% if child.slug == path_segments[1] %}current{% endif %}" }
          {{ child.title }}
        {% if child.children %}
        %ul
          {% for grand_child in child.children %}
          %li
            %a{ :href => "/{{ grand_child.fullpath }}" }
              {{ grand_child.title }}
          {% endfor %}
        {% endif %}
    {% endfor %}
    {% endblock %}
  
  {% block 'sidebar' %}{% endblock %}

{% endblock %}
