!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ Consider adding a manifest.appcache: h5bp.com/d/Offline
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  
  %head
    %meta{ :charset => "utf-8" }
    / More info: h5bp.com/i/378
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    / Set the viewport width to device width for mobile
    %meta{ :name => "viewport", :content => "initial-scale=1, width=device-width" }
    
    %title {{ page.title }}
    %meta{ :content => "{{ page.meta_description }}", :name => "description" }
    %meta{ :content => "{{ page.meta_keywords }}", :name => "keywords" }
    
    {{ 'application' | stylesheet_tag }} 
    //{{ 'github' | stylesheet_tag }} 
    {{ 'jquery.min' | javascript_tag }} 
    //{{ 'highlight.pack' | javascript_tag }} 
    //{{ 'prettify' | javascript_tag }} 
    //{{ 'sunburst' | stylesheet_tag }} 

    :javascript
      //$(document).ready(function() {
      //hljs.tabReplace = '  '; // 2 spaces
      //hljs.initHighlightingOnLoad();
      //});
      
      
  %body
    %header#banner
      .inner-container
        %h1 LOCOMOTIVE CMS
        %nav
          %ul
            %li{ :class => '{% if page.fullpath == "faq" %}active{% endif %}'}
              %a{ :href => "/faq" } 
                Faq
            %li{ :class => '{% if page.fullpath == "reference" %}active{% endif %}'}
              %a{ :href => "/reference" } 
                Reference
            %li{ :class => '{% if page.fullpath == "guides" %}active{% endif %}'}
              %a{ :href => "/guides" } 
                Guides
            %li{ :class => '{% if page.fullpath == "installation" %}active{% endif %}'}
              %a{ :href => "/installation" } 
                Installation
            %li{ :class => '{% if page.fullpath == "index" %}active{% endif %}'}
              %a{ :href => "/index" } 
                Home
    {% block 'main-content' %}
    %section#page-title
      #grid-four
        %aside
          %a{ :href => "#" }
            Install now
        %header
          Welcome to the new documentation center
        %p
          This is the place where you will find all the resources about the LocomotiveCMS. However, if you do not find what you were looking for, we strongly suggest you to send us an email ( support at locomotivecms dot com ).

    %section#content#grid-three
      
      %section.home-item
        %h1 Ask the community
        %p You have a question, do not be shy, post it to our Google group. Someone will answer you for sure.
        %a{ :href => "https://groups.google.com/forum/?fromgroups#!forum/locomotivecms" }
          Visit »
      %section.home-item
        %h1 Contributing
        %p You coded a top notch new feature for the CMS or you found a bug. Please visit our Github project page.
        %a{ :href => "https://github.com/locomotivecms/engine" }
          Visit »
      %section.home-item.last
        %h1 Support
        %p You are looking for some help on your LocomotiveCMS client project. We can help you.
        %a{ :href => "mailto:support@locomotivecms.com" }
          Contact us »
        
      


    {% endblock %}
    %footer#footer
      #inner-footer
        %section.footer-item
          %header
            Locomotive Quick Links
          %ul
            %li
              Company
            %li
              Privacy Policy
            %li
              etc
        %section.footer-item
          %header
            Follow @locomotivecms
        %section.footer-item
          %header
            Locomotive News
          %p
            Stay on top of Locomotive updates, subscribe to our news
        %section.footer-item
          %header
            LOCOMOTIVECMS
          %p
            %em LocomotiveCMS is developed by NoCoffee. LocomotiveCMS is free software under the MIT license.
          %p
            %strong © {{ today | localized_date: '%Y' }} Locomotive CMS
        %a.back-to-top{ :href => "#" }
          BACK TO TOP