{% extends 'index' %}

{% block 'main' %}

.hero-unit
  %h1 Installation guide

  %br

  %p The installation procedure is quite simple and it will take you roughly 5 minutes to install it


{% endblock %}