{% extends 'index' %}

{% block 'main' %}
{% include 'page_head' %}
#main-generic
  %section#container-sidebar
    {% block 'left' %}
    {% endblock %}
  {% block 'sidebar' %}
  {% include 'sidebar_depth_0' %}
  {% endblock %}
{% endblock %}