---
title: Making a blog
published: true
listed: true
handle: making-blog
---
{% extends 'index' %}

{% block 'content' %}

:markdown

  This tutorial will walk you through making a blog using LocomotiveCMS. Specifically, we will make a travel blog documenting your adventures to various places around the globe.

  But the goal of the tutorial isn't to teach you how to make a blog. The aim is to guide beginners through every step of creating sites with LocomotiveCMS and to give readers the techniques and tips they need to make any kind of site that they want.

  The source for each chapter is available in [this git repository](https://www.github.com/locomotivecms/wisdom-for-wanderers). If you ever run into issues, viewing the source can be helpful in debugging. There is a branch for each chapter so you can view the source for the task you are having an issue with.

  I hope you enjoy this guide and enjoy developing sites with LocomotiveCMS.

  # Prerequisites

  This guide assumes a couple things:

  1. You know at least a little bit about making websites. The bare minimum is HTML and CSS, but basic programming ability will give you a big step up in learning to use LocomotiveCMS.
  2. You can perform basic command line tasks. You don't need to be an expert by any means, but knowing how to open up the Terminal on Mac OS X or the command prompt on Windows is a must; Linux users, I assume you're up to speed. From there you'll be able to copy and paste things in from the tutorial, but it will make more sense if you're already comfortable with the command line.
  3. You don't have very much experience using LocomotiveCMS. You do? No worries, just use your skimming abilities and skip to the parts that interest you.
  4. You have LocomotiveCMS Wagon installed on your development machine. You don't? Better head over to the [guide to installing Wagon ](/get-started/install-wagon).
  5. You have a LocomotiveCMS Engine setup somewhere, so we can test changes in our site's back-office. This could be a local Engine on your development machine, an Engine running on a server, or a LocomotiveHosting site.

%br
%br
%a.orange-rounded-button{href: "/making-blog/1-1-create-wagon-site"} All set? Let's get started.

{% endblock %}
