---
title: Recipes and best practices
published: true
listed: true
position: 3
---
{% extends 'index' %}

{% block 'main' %}
{% include 'page_head' %}
#main-generic
  %section#container-sidebar

{% endblock %}
