---
title: "Releases"
published: true
listed: true
position: 4
editable_elements:
  main/page_head_title: "Releases and upgrades"
  main/page_head_content: "<p>Find out information about releases and how to migrate to a newer version.</p>"
---
{% extends index %}
{% block 'main' %}
{% include 'page_head' %}

#main-generic
  {% block 'left' %}
  %section#container-sidebar
    {% block 'content' %}
    %ul
      {% for mainpage in page.children %}
      %li
        %a{ :href => '{{ mainpage.fullpath }}' }
          {{ mainpage.title }}
      {% endfor %}
    {% endblock %}
  {% endblock %}
  {% include 'sidebar_depth' with depth: 1 %}
{% endblock %}