---
title: "Releases and upgrades"
published: true
listed: true
---
{% extends index %}
{% block 'main' %}
#main-generic
  {% block 'left' %}
  %section#container-sidebar
    {% block 'content' %}
    %ul
      {% for mainpage in page.children %}
      %li
        %a{ :href => '{{ mainpage.fullpath }}' }
          {{ mainpage.title }}
      {% endfor %}
    {% endblock %}
  {% endblock %}
  {% include 'sidebar_depth' with depth: 1 %}
{% endblock %}