---
title: Search
published: true
listed: false
searchable: false
---
{% extends index %}

{% block title %}
%h3 You're searching for <strong>"{{ params.search }}"</strong>
{% endblock %}

{% block content %}

#search-results
  {% if wagon %}
  %article
    %header
      %a{ href: '/references/api/tags/assign' } assign
    .url http://{{ host }}/references/api/tags/assign
    .content
      %p Welcome to the documentation center We're here to help you any way we can. Below you’ll find documentation, tutorials and resources on how to use...

  %article
    %header
      %a{ href: '/references/api/tags/assign' } assign
    .url http://{{ host }}/references/api/tags/assign
    .content
      %p Welcome to the documentation center We're here to help you any way we can. Below you’ll find documentation, tutorials and resources on how to use...

  %article
    %header
      %a{ href: '/references/api/tags/assign' } assign
    .url http://{{ host }}/references/api/tags/assign
    .content
      %p Welcome to the documentation center We're here to help you any way we can. Below you’ll find documentation, tutorials and resources on how to use...

  %article
    %header
      %a{ href: '/references/api/tags/assign' } assign
    .url http://{{ host }}/references/api/tags/assign
    .content
      %p Welcome to the documentation center We're here to help you any way we can. Below you’ll find documentation, tutorials and resources on how to use...

  {% else %}

  {% search_for params.search, per_page: 10, page: params.page %}

  {% if result.total_entries == 0 %}

  %p.no-results Sorry, no results were found.

  {% else %}

  {% for result in search.results %}
  %article
    %header
      %a{ href: "/{{result.fullpath}}" } {{ result.title }}
    .url http://{{ host }}/{{result.fullpath}}
    .content
      %p {{ result.highlighted.searchable_content }}
  {% endfor %}

  {% endif %}

  {% endsearch_for %}

  {% endif %}

{% endblock %}