{% extends 'index' %}

{% block 'main' %}
{% include 'page_head' %}
#main-generic
  %section#container-sidebar
    %h1 H1 Heading
    %p 
      p Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum.
    %p
      %strong Bold Text
    %p 
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

    %h2 H2 Heading
    %p
      %em em Duis mollis, est non commodo luctus, <a>Vestibulum</a> ligula porta feliid ligula porta felis euiss euismod semper. <a hover>Aenean lacinia</a> bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam.

    %h3 H3 Heading
    %span
      Duis mollis, est non commodo luctus, nisi erat Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam.

    %h4 H4 Heading
    %p Duis mollis, est non commodo luctus, <a>Vestibulum</a> ligula porta feliid ligula porta felis euiss euismod semper. <a hover>Aenean lacinia</a> bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam.

    %h5 H5 Heading
    %span Duis mollis, est non com Vivamus sagittis lacus vel augue laoreet.

    %h6 H6 Heading
    %span Duis mollis, est non com Vivamus sagittis lacus vel augue laoreet.
    %span Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

  %aside{ :class => "sidebar"}
    .floating-panel
      .inner-floating-panel
        %header
          %h1
            Sidebar Heading
        %ul
          %li Unordered list example
          %li Unordered list example
          %li Unordered list example
          %li Unordered list example
        %ol
          %li  Ordered list example
          %li  Ordered list example
          %li  Ordered list example
          %li  Ordered list example
          %li  Ordered list example
        
{% endblock %}