---
title: Contribute to the documentation
published: true
listed: true
position: 1
---
{% extends index %}

{% block content %}

:markdown
  You want to fix mistakes in the doc, or you're willing to help us writing guides?

  This documentation is a LocomotiveCMS site, we did not use any **editable field** so that anyone can help us improving it.

  To help us, just fork the documentation on GitHub and send us a pull request!

  [See the documentation site on GitHub](https://github.com/locomotivecms/documentation)

{% endblock %}