---
title: faq
published: false
listed: false
---
{% extends 'index' %}

{% block 'main' %}
{% include 'page_head' %}
#main-four
  %section
    {% for question in contents.questions %}
    {% include 'faq_item' %}
    {% endfor %}


{% endblock %}