---
title: "How to use render a rails view in a LocomotiveCMS layout"
seo_title: "How to create a RSS feed?"
published: true
listed: false
position: 4

editable_elements:
  main/page_head_title: "How to use render a rails view in a LocomotiveCMS layout"
  main/page_head_content: 
---
{% extends parent %}

{% block 'main/left/content' %}

{% include 'wip' %}
{% endblock %}
