---
title: "How to use render a rails view in a LocomotiveCMS layout"
seo_title: "How to create a RSS feed?"
published: true
listed: true
position: 4
---
{% extends parent %}

{% block 'main/left/content' %}

:markdown

{% endblock %}
