---
title: Extends
published: true
listed: true
position: 1
---
{% extends 'reference/tags' %}

{% block 'main/left/content' %}

:markdown
  # extends

  <div class="alert alert-warning">
    The extends tag must <b>ALWAYS</b> be the first statement.
  </div>

  Set the layout of the current page. A page can be a layout for another page. The tag needs a single parameter which can take two values:

  - *parent* the layout for the parent url
  - *some/page/path* a specific pages layout

  <div class="alert alert-info">
  You do not need to close this tag.
  </div>

  {% raw %}
      {% extends parent %}
      {% extends 'support/index' %}
  {% endraw %}


{% endblock %}
