---
title: Add another language
seo_title: Add another language
listed: true
position: 1

editable_elements:
  main/page_head_title: "Add another language"
  main/page_head_content: ""

---
{% extends parent %}

{% block 'main/left/content' %}
:markdown
  TODO write-it
{% endblock %}