---
title: Setup a multilingual site
seo_title: Setup a multilingual site
listed: true
position: 1

editable_elements:
  main/page_head_title: "Setup a multilingual site"
  main/page_head_content: ""

---
{% extends 'guides/getting-started' %}

{% block 'main/left/content' %}
:markdown
  
{% endblock %}