---
title: Single or multiple templates per language
seo_title: Single or multiple templates per language
listed: true
position: 1

editable_elements:
  main/page_head_title: "Single or multiple templates per language"
  main/page_head_content: ""

---
{% extends parent %}

{% block 'main/left/content' %}
:markdown
  TODO write-it
{% endblock %}