{% extends 'reference/filters' %}

{% block 'content' %}

:markdown
  # modulo(input, index, modulo)

  Print the input string every modulo occurences.

  {% raw %}
      {{ 'odd' | modulo: 0, 2 }}
  {% endraw %}
  
  **Example**: Returns ""
  
  {% raw %}
      {{ 'odd' | modulo: 1, 2 }}
  {% endraw %}
  
  **Example**: Returns "odd"

  ### Options

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>index</td>
        <td>Integer</td>
        <td>The counter. Usually, the index variable within a for loop</td>
      </tr>
      <tr>
        <td>modulo</td>
        <td>Integer</td>
        <td>By default, it is the current locale</td>
      </tr>
    </tbody>
  </table>

{% endblock %}