%aside{ :class => "sidebar"}
  .floating-panel
    .inner-floating-panel
      %header
        %h1
          Filters
      %ul.dropdown
        %li
          %a.active{ :href => "#" }
            HTML
          %ul
            %li
              %a{ :href => "#", :id => "auto_discovery_link_tag" }
                auto_discovery_link_tag
            %li
              %a{ :href => "#", :id => "flash_tag" }
                flash_tag
            %li
              %a{ :href => "#", :id => "image_tag" }
                image_tag
            %li
              %a{ :href => "#", :id => "javascript_url" }
                javascript_url
            %li
              %a{ :href => "#", :id => "javascript_tag" }
                javascript_tag
            %li
              %a{ :href => "#", :id => "stylesheet_url" }
                stylesheet_url
            %li
              %a{ :href => "#", :id => "stylesheet_tag" }
                stylesheet_tag
            %li
              %a{ :href => "#", :id => "theme_image_url" }
                theme_image_url
            %li
              %a{ :href => "#", :id => "theme_image_tag" }
                theme_image_tag
        %li
          %a{ :href => "#" }
            Text
          %ul
            %li
              %a{ :href => "#", :id => "underscore" }
                underscore
            %li
              %a{ :href => "#", :id => "dasherize" }
                dasherize
            %li
              %a{ :href => "#", :id => "multi_line" }
                multi_line
            %li
              %a{ :href => "#", :id => "concat" }
                concat
            %li
              %a{ :href => "#", :id => "textile" }
                textile
        %li
          %a{ :href => "#" }
            Date
          %ul
            %li
              %a{ :href => "#", :id => "localized_date"  }
                localized_date
            %li
              %a{ :href => "#", :id => "format_date"  }
                format_date
        %li
          %a{ :href => "#" }
            Misc
          %ul
            %li
              %a{ :href => "#", :id => "default_pagination"  }
                default_pagination
            %li
              %a{ :href => "#", :id => "resize"  }
                resize
            %li
              %a{ :href => "#", :id => "modulo"  }
                modulo
            %li
              %a{ :href => "#", :id => "first"  }
                first
            %li
              %a{ :href => "#", :id => "last"  }
                last
            %li
              %a{ :href => "#", :id => "default"  }
                default

