%aside{ :class => "sidebar"}
  .floating-panel
    .inner-floating-panel
      %header
        %h1
          Basics
      %ul.tabs
        %li
          %a.active{ :href => "#" }
            Crafted for very specific requirements
        %li
          %a{ :href => "#" }
            Objects
        %li
          %a{ :href => "#" }
            Filters
        %li
          %a{ :href => "#" }
            Tags
        