%aside{ :class => "sidebar"}
  .floating-panel
    .inner-floating-panel
      %header
        %h1
          Objects
      %ul.tabs
        %li
          %a.active{ :href => "#" }
            Global Variables
        %li
          %a{ :href => "#" }
            Site
        %li
          %a{ :href => "#" }
            Page
        %li
          %a{ :href => "#" }
            Content Type
        %li
          %a{ :href => "#" }
            Content Entry
        
