---
title: Installing the builder
listed: true
position: 2
---
{% extends 'guides/getting-started' %}

{% block 'main/left/content' %}
:markdown
  The LocomotiveCMS builder is a site generator for the LocomotiveCMS engine powered by all the efficient and modern HTML development tools (Haml, SASS, Compass, Less).


{% endblock %}