---
title: The ideal development workflow
listed: false
position: 4

editable_elements:
  main/page_head_title: "The ideal development workflow"
  main/page_head_content: ""
---
{% extends 'guides/getting-started' %}

{% block 'main/left/content' %}
:markdown
  

{% endblock %}