{% extends 'reference/filters' %}

{% block 'content' %}

:markdown
  # theme_image_url(input)

  Return the url of a theme image

  {% raw %}
      {{ 'banner.png' | theme_image_url }}
  {% endraw %}

  **Example**: Returns "/sites/<site_id>/theme/images/banner.png"

{% endblock %}