---
title: Assign
published: true
listed: true
position: 4
---
{% extends 'references/tags' %}

{% block 'main/left/content' %}

:markdown
  # assign

  Used to assign a value to a variable.

      {% raw %}{% assign article = contents.news.first %}
      {{ article.title }}
      {{ article.body }}
  {% endraw %}

{% endblock %}
