---
title: Case
published: true
listed: true
position: 2
---
{% extends 'references/tags' %}

{% block 'main/left/content' %}

:markdown
  # case

  When evaluating a large number of conditions.

      {% raw %}{% case condition %}
      {% when 1 %}
        hit 1
      {% when 2 %}
        hit 2
      {% else %}
        hit else
      {% endcase %}
  {% endraw %}

{% endblock %}
