---
title: Content types
published: true
listed: true
position: 4
---
{% extends 'references/api' %}

{% block content %}

:markdown
  ## Example

  Display the number of elements of the entries stored in the Projects model.

      {% raw %}{{ contents.projects.size }}{% endraw %}

  ## Syntax

      {% raw %}{{ contents.<name> }}{% endraw %}

  name is the slug attribute of your content type.

  ## Attributes

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th style="width: 60%">description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>first</td>
        <td>ContentEntry</td>
        <td>First entry of the collection</td>
      </tr>
      <tr>
        <td>last</td>
        <td>ContentEntry</td>
        <td>Last entry of the collection</td>
      </tr>
      <tr>
        <td>empty</td>
        <td>Boolean</td>
        <td>True if the collection of entries is empty</td>
      </tr>
      <tr>
        <td>any</td>
        <td>Boolean</td>
        <td>True if the collection of entries is NOT empty</td>
      </tr>
      <tr>
        <td>size</td>
        <td>Integer</td>
        <td>The total number of entries</td>
      </tr>
      <tr>
        <td>count</td>
        <td>Integer</td>
        <td>Alias for <b>size</b></td>
      </tr>
      <tr>
        <td>length</td>
        <td>Integer</td>
        <td>Alias for <b>size</b></td>
      </tr>
      <tr>
        <td>public_submission_url</td>
        <td>String</td>
        <td>The url for the form allowing public visitors to create a new entry of the content type (ex: Contact form). The "Public submission" option for the content type has to be enabled within the back-office.</td>
      </tr>
      <tr>
        <td>group_by_&lt;field name&gt;</td>
        <td>Array</td>
        <td>The <b>field name</b> is the name of a "Select" type field of the content type. The method returns an ordered Array of Hash. Each Hash stores 2 keys, <b>name</b> which is the name of the option and <b>entries</b> which is the list of the ordered entries for the option. The Array is ordered based on the order of the options set in the back-office.</td>
      </tr>
      <tr>
        <td>&lt;field name&gt;_options</td>
        <td>Array</td>
        <td>The <b>field name</b> is the name of a "Select" type field of the content type. The method returns an ordered Array of available options.</td>
      </tr>
    </tbody>
  </table>

  Read more about [content types references](/references/content-types/create)

{% endblock %}