---
title: Page
published: true
listed: true
position: 3
---
{% extends 'references/api' %}

{% block 'content' %}

:markdown
  ## Example

  Display the title of the current page

      {% raw %}{{ page.title }}{% endraw %}

  ## Attributes

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>title</td>
        <td>String</td>
        <td>title of the page</td>
      </tr>
      <tr>
        <td>fullpath</td>
        <td>String</td>
        <td>the complete full path</td>
      </tr>
      <tr>
        <td>slug</td>
        <td>String</td>
        <td>unique identifier for urls, the same as a permalink</td>
      </tr>
      <tr>
        <td>handle</td>
        <td>String</td>
        <td>unique identifier for the page (useful for link_to for example)</td>
      </tr>
      <tr>
        <td>parent</td>
        <td>Page</td>
        <td>the parent page. Nil if the page is the root</td>
      </tr>
      <tr>
        <td>children</td>
        <td>Array</td>
        <td>the direct children</td>
      </tr>
      <tr>
        <td>breadcrumbs</td>
        <td>Array</td>
        <td>the parent pages and the page itself</td>
      </tr>
      <tr>
        <td>depth</td>
        <td>Integer</td>
        <td>the depth in the tree of pages</td>
      </tr>
      <tr>
        <td>listed?</td>
        <td>Boolean</td>
        <td>true if the page is included in the menu</td>
      </tr>
      <tr>
        <td>published?</td>
        <td>Boolean</td>
        <td>true if the page is published</td>
      </tr>
      <tr>
        <td>seo_title</td>
        <td>String</td>
        <td>alternative title for the page used for SEO purpose</td>
      </tr>
      <tr>
        <td>meta_keywords</td>
        <td>String</td>
        <td>keywords used for SEO purpose</td>
      </tr>
      <tr>
        <td>meta_description</td>
        <td>String</td>
        <td>description used for SEO purpose</td>
      </tr>
      <tr>
        <td>templatized?</td>
        <td>Boolean</td>
        <td>true if this page is a template (new in LocomotiveCMS 2.2+ / Wagon 1.2+)</td>
      </tr>
      <tr>
        <td>target_content_type</td>
        <td>Content type object</td>
        <td>example: <code>{% raw %}{{page.target_content_type.count }}{% endraw %}</code><br />(new in LocomotiveCMS 2.2+ / Wagon 1.2+)</td>
      </tr>

    </tbody>
  </table>

{% endblock %}
