<div class="sticky top-16 hidden max-h-[calc(100dvh-(--spacing(16)))] w-64 shrink-0 overflow-y-auto pt-12 pb-16 xl:block">
  <h2 class="text-sm/6 font-medium text-zinc-950 dark:text-white">
    On this page
  </h2>
  <ul role="list" class="mt-3.5 space-y-3 text-sm/6 text-zinc-700 dark:text-zinc-400">
    <% h2_and_h3_tags.each do |tag| %>
      <li>
        <a class="hover:text-zinc-950 dark:hover:text-white <%= 'pl-4' if tag[:level] === 1 %>" href="#<%= tag[:id] %>">
          <%= tag[:text] %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
