---
title: Underscore
published: true
listed: true
position: 1
---
{% extends 'apidoc/filters' %}

{% block 'main/left/content' %}

:markdown
  # underscore(input)

  Makes an underscored, lowercase form from the expression in the string.

      {% raw %}{{ 'FooBar' | underscore }}
  {% endraw %}

  **Example**: Returns foo_bar

{% endblock %}