---
title: API
listed: true
position: 1
handle: api
redirect_url: /references/api/objects/global-variables
---
{% extends index %}

{% block sidebar %}

%p.back
  %a{ href: '/references' } &larr; Back to the parent folder

{% include local_menu with handle: 'api' %}

{% endblock %}

