---
title: Create a page
published: true
listed: true
position: 4
---
{% extends 'index' %}

{% block 'content' %}

:markdown

  # Choose your page slug

  The page slug is its name in the url, in a Wagon site it's defined by the filename without extension.
  It should only contains alphabetic characters, numbers and "-" or "_".
  The full path of a page contains its parent (and ancestors).

      + index
          + company
              + presentation

  In this example, the **presentation** page full path will be `/company/presentation`.

  # Use the command line generator

      bundle exec wagon generate page <<your page slug>>

  You will be ask 2 things:

  - whether you want HAML template: answer 'no' if you're not familiar with [HAML](http://haml.info).
  - whether you want a localized template: answer 'no' (multilingual is another topic...)

  It will generate a file: `app/views/page/<<your page slug>>.liquid`.

  <div class="alert alert-info">
  <strong>Note:</strong> In the <strong>generate</strong> command, you can set the full path of your page:<br />
  <code>bundle exec wagon generate page company/presentation</code><br />
  It will create <code>app/views/pages/company.liquid</code> and <code>app/views/pages/company/presentation.liquid</code>.
  </div>

  # Page header

  Before the page content, there is a **header**, enclosed by "---". It contains meta-information about the page using the [yaml](http://en.wikipedia.org/wiki/YAML) syntax.

      ---
      title: Page title
      published: true
      listed: false
      ---

  If your page [extends](/references/api/tags/extends) another one, remember it should be the first instruction after the header.

  Here are some possible options that can be used in the page header:

  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>title</td>
        <td>Pretty obvious... The page title is used in the backoffice and in your template if you use {% raw %}<code>{{ page.title }}</code>{% endraw %}. See more about the <a href="http://doc.locomotivecms.com/references/api/objects/page">page object</a></td>
      </tr>
      <tr>
        <td>published</td>
        <td>If set to false, the page won't be publicly visible once hosted in an engine. It will be visible with the Wagon webserver.</td>
      </tr>
      <tr>
        <td>listed</td>
        <td>The listed option is used to decide if the page should be listed in a menu.</td>
      </tr>
      <tr>
        <td>position</td>
        <td>Set the position among sibling pages. This is used for ordering in menus.</td>
      </tr>
      <tr>
        <td>seo_title</td>
        <td>Set the title for SEO, you can use it through the <a href="http://doc.locomotivecms.com/references/api/tags/seo">{% raw %}<code>{% seo %}</code>{% endraw %} tag</a> or {% raw %}<code>{{ page.seo_title }}</code>{% endraw %}.</td>
      </tr>
      <tr>
        <td>seo_description</td>
        <td>Same as seo_title for the meta description. You can use {% raw %}<code>{{ page.seo_description }}</code>{% endraw %} in your page template.</td>
      </tr>
      <tr>
        <td>seo_keywords</td>
        <td>Same as seo_description.</td>
      </tr>
      <tr>
        <td>redirect_url</td>
        <td>Set a redirection to the given url (301).</td>
      </tr>
    </tbody>
  </table>

  {% endblock %}
