---
title: Filters
published: true
listed: true
position: 2
redirect_url: /references/filters/html/auto-discovery-link-tag
---
{% extends 'references' %}

{% block 'main/left' %}
%section#container-sidebar
  {% block 'content' %}
  {% endblock %}
{% endblock %}