---
title: "Snippets"
seo_title: "Re-use a block of code in several templates: Snippets"
listed: true
position: 6
---
{% extends 'index' %}

{% block 'content' %}

:markdown
  # Reusable code: snippets

  Let's create a sidebar snippet. Use the command line generator to create a snippet:

      bundle exec wagon generate snippet sidebar

  You will be asked if you prefer HAML template: if you're not familiar with HAML, answer 'n'.

  You will also be asked if you want a localized template: answer 'n'.

  A snippet file will be created.

      +- app/views
          +- pages
              +- index.liquid
          +- snippets
              +- sidebar.liquid


  In sidebar.liquid:

      {% raw %}<div id="sidebar">
        the sidebar
      </div>{% endraw %}


  Including the sidebar in a template:

      {% raw %}<html>
        <head>
          <title>Snippet example</title>
        </head>
        <body>
          <header>
          </header>
          <div id="content">
            Page content
          </div>
          {% include 'sidebar' %}
          <footer>
          </footer>
        </body>
      </html>{% endraw %}

  Learn more:

  - [**include** tag documentation](/references/api/tags/include)

  {% endblock %}
