---
title: block
published: true
listed: true
---
{% extends 'references/api' %}

{% block content %}

:markdown

  ## Description

  Blocks are regions of content that you may want to override in children layouts.
  Their names are used to define the tabs in the backend and segment editable regions.

  <div class="alert alert-info">
  Nesting blocks is fine.
  </div>

  For more information about using the block tag, including nested blocks, check out the [basics of templating guide](/references/liquid-language).

  ## Syntax

      {% raw %}{% block <name> %}{% endblock %}{% endraw %}

  ## Examples

      {% raw %}{% block sidebar %}
      Sidebar goes here
      {% endblock %}

      {% block content %}
        Content goes here
      {% endblock %}{% endraw %}

{% endblock %}
