---
title: consume
published: true
listed: true
---
{% extends 'references/api' %}

{% block content %}

:markdown

  ## Description

  Read an external datasource (either JSON or XML), cache the content and allow you to iterate over the objects.

  ## Syntax

      {% raw %}{% consume <variable_name> from <url>(, <options>) %}
      ...
      {% endconsume %}{% endraw %}

  ## Example

      {% raw %}<p>
        {% consume api from "http://ip.jsontest.com/" %}
        My ip address is: {{ api.ip }}
        {% endconsume %}
      </p>{% endraw %}

      {% raw %}{% consume blog from 'http://blog.locomotivecms.com/api/read/json?num=3&amp;type=text', expires_in: 3000 %}
      {% if blog == null %}
        the Tumblr API seems to be broken now.
        {% else %}
          {% for article in blog.posts %}
            {{ article.title }}
          {% endfor %}
        {% endif %}
      {% endconsume %}{% endraw %}

  ## Caching

  For the caching, the LocomotiveCMS engine uses the default [Rails caching](http://guides.rubyonrails.org/caching_with_rails.html#activesupport-cache-store).

  <div class="alert alert-info">
    If you want to use the <strong>Redis cache store</strong>, please read <a href="http://guides.rubyonrails.org/caching_with_rails.html#activesupport-cache-store">this blog article</a>.
  </div>

  ## Options

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>expires_in</td>
        <td>Integer</td>
        <td>Delay in seconds during the content will be cached. 0 means no cache.</td>
      </tr>
      <tr>
        <td>username</td>
        <td>String</td>
        <td>username if the external API requires an HTTP authentication.</td>
      </tr>
      <tr>
        <td>password</td>
        <td>String</td>
        <td>password if the external API requires an HTTP authentication.</td>
      </tr>
    </tbody>
  </table>

{% endblock %}
