---
title: inline_editor
published: true
listed: true
---
{% extends 'references/api' %}

{% block content %}

:markdown

  ## Description

  The inline_editor tag *mandatory* to enable the inline editing feature (Aloha Editor) directly from the pages.

  <div class="alert alert-info">
    Put your inline_editor tag just before the
    <b>closing HEAD tag.</b>
  </div>

  ## Syntax

      {% raw %}{% inline_editor %}{% endraw %}

  ## Example

      {% raw %}<html>
      <head>
        <title>{{ page.title }}</title>
        {% inline_editor %}
      </head>
      <body>
        <h1>{% editable_text title, hint: "a title", format: raw, rows: 2 %}A default title{% endeditable_text %}</h1>
      </body>
      </html>{% endraw %}

{% endblock %}
