---
title: session_assign
published: true
listed: true
---
{% extends 'references/api' %}

{% block content %}

:markdown

  ## Description

  Used to store in the session a key and its value.

  ## Syntax

      {% raw %}{% session_assign <key> = <value> %}{% endraw %}

  ## Example

      {% raw %}{% session_assign player_email = 'john@doe.net' %}
      E-mail: {{ session.player_email }}{% endraw %}

  To remove a key:

      {% raw %}{% session_assign player_email = nil %}{% endraw %}

{% endblock %}
