#search-results

  article
    padding-bottom: 15px
    margin-bottom: 15px
    border-bottom: 1px solid rgba($medium-grey, 0.5)

    header
      a
        color: $deep-blue
        font-size: 18px

    .url
      margin-top: 10px
      color: $em-blue

    .content
      margin-top: 10px

      p
        font-size: 13px
        line-height: 16px

        em
          color: #000
          font-size: 13px
          font-weight: bold