.home-item
  +span-columns(1,3)
  +nth-omega(3n)
  a
    +small-button

// Shared container
#main-generic
  +three-cols-grid
  margin-top: $section-padding
  #container-generic
    +span-columns(3 omega,3)
  #container-sidebar
    +span-columns(2 ,3)
    
@media #{$desktop}
  #main-generic
    #container-generic
      +span-columns(2,3)



// Sidebar
.sidebar
  +span-columns(3 omega,3)
  .active
    color: $orange-gradient-end
  
  .dropdown-menu
    display: none
  .dropdown-menu.expanded
    display: block

.sidebar.desktop
  display: none
.sidebar.mobile
  display: block
@media #{$desktop}
  .sidebar
    +span-columns(1 omega,3)

code
  +global-reset
  font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace
  background-color: ghostWhite
  border: 1px solid #DDD
  padding: 1px 4px
  display: block
  margin-bottom: 10px

.gist
  margin-top: 10px
  margin-bottom: 10px

.alert
  margin-bottom: 10px
  background-color: $orange-white
  padding: 5px
  +open-sans-regular
  