{% extends 'reference' %}

{% block 'left' %}  

%section#container-sidebar
  %section
    {% include 'reference/basics_crafted' %}
  %section
    {% include 'reference/basics_objects' %}
  %section
    {% include 'reference/basics_filters' %}
  %section
    {% include 'reference/basics_tags' %}

{% include 'sidebars/reference_basics' %}

{% endblock %}