---
title: Objects
published: true
listed: true
position: 1
redirect_url: /reference/objects/global_variables
---
{% extends 'reference' %}

{% block 'main/left' %}
%section#container-sidebar
  {% block 'content' %}
  {% endblock %}
{% include 'sidebar_depth_1' %}
{% endblock %}