{% extends 'reference' %}

{% block 'subnav' %}
{% include 'subnav_depth_2' %}
{% endblock %}

{% block 'left' %}
%section#container-sidebar
  {% block 'content' %}
  {% endblock %}
{% include 'sidebar_reference_depth_1' %}
{% endblock %}