---
title: 5.1 Back-office settings
listed: false
published: false
position: 14
---
{% extends 'index' %}

{% block 'content' %}

:markdown

    This chapter will begin an exploration of the many features available in the LocomotiveCMS back-office. For readers who are just now joining us, please note that this tutorial assumes that you already have an engine setup in the form of a local development engine or a LocomotiveHosting site.

    Push the site to your Engine.

    <pre><span>$ bundle exec wagon push development --translations</span></pre>

    Now that everything is up to date, let's get started.

    ## Logging in

    Ok, this one's easy. For those using a local Engine, visit [http://localhost:8080/locomotive](http://localhost:8080/locomotive) (or localhost:3000/locomotive for Windows users).

    LocomotiveHosting users can access the login

