---
title: "Upgrading the engine"
listed: true
editable_elements:
  main/page_head_title: "Upgrading the LocomotiveCMS engine"
  main/page_head_content: "<p>A new version of the engine is out and you want to try it out in your existing LocomotiveCMS application. Here is the procedure to achieve that.</p>"
---
{% extends parent %}
{% block 'main/left/content' %}
:markdown

  <div class="alert alert-info">
  ALWAYS backup your assets AND your MongoDB database before this procedure.
  </div>

  # 1. Change the version of the engine.

  Open your favorite editor and edit the Gemfile of your application. All you need to do is to tell which version of the engine you want.

      gem 'locomotive_cms', '~> <last_stable_version>', git: 'git@github.com:locomotivecms/engine.git', require: 'locomotive/engine'

  If you want to live on the edge, just set the id of the last commit from Github.

      gem 'locomotive_cms', git: 'git@github.com:locomotivecms/engine.git', ref: '<last_commit_id>', require: 'locomotive/engine'

  Once it is done, update your gems.

      bundle install

  ***

  # 2. Run the database migrations

  Copy the migrations of the LocomotiveCMS engine to your main application.

      bundle exec rake db:mongoid:migration:install

  Run them.

      bundle exec rake db:mongoid:migrate

  ***

  # 3. Re-compile the assets for production

  A new version of the engine comes often with changes in the Javascript or CSS code. Thus, you have to update your compiled assets as well.

      bundle exec rake assets:clean
      bundle exec rake assets:precompile

{% endblock %}